<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>


</head>

<body>

    <!-- Modal content -->
    <div class="modal-content">

      <div class="modalmainFrame1" style="position: fixed;">

        <div class="modallist1">
          <div class="modalconditionArea">
            <div class="modalsang">
              <p>설비상태</p>
            </div>
            <div class="modaljoong">
              <p>가동여부</p>
            </div>
            <div class="modalha">
              <article class="modalpettiAdmin">
                <p>관리자</p>
                <p>percent:75%</p>
              </article>
              <p></p>
              <p></p>
              <p></p>
            </div>
          </div>
          
  
        </div>

        <div class="modallist2">
          <div class="modalinnerlistFrame">
            <div class="modalguageFrame">

            </div>
            <div class="modalguageFrame">

            </div>
          </div>
        </div>

        <div class="modallist3">
          <p class="modalProdMaintitle">현재 공정 순서</p>

          <button class="modalprodup">공정 등록하기 </button>
          <div class="modallistinner">
            <div class="modallistinframe">
              <img class="modalnumber" src="/assets/img/1_big.svg" alt="1">
              <div class="modalprodname">
                <div class="modalpercent"> <img src="/assets/img/dropdown.svg" alt="dropdown"></div>
              </div>
            </div>

            <div class="modallistinframe">
              <img class="modalnumber" src="/assets/img/2_big.svg" alt="2">
              <div class="modalprodname">
                <div class="modalpercent"> <img src="/assets/img/dropdown.svg" alt="dropdown"></div>
              </div>
            </div>

            <div class="modallistinframe">
              <img class="modalnumber" src="/assets/img/3_big.svg" alt="3">
              <div class="modalprodname">
                <div class="modalpercent"> <img src="/assets/img/dropdown.svg" alt="dropdown"></div>
              </div>
            </div>

            <div class="modallistinframe">
              <img class="modalnumber" src="/assets/img/4_big.svg" alt="4">
              <div class="modalprodname">
                <div class="modalpercent"> <img src="/assets/img/dropdown.svg" alt="dropdown"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="modallist4">
          <div class="modalareaGraph">
            
          </div>
        </div>
        


      </div>

     

    </div>

    <script>

    </script>

</body>

</html>