<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="main">
  <head>
    <meta charset="UTF-8">
    <title>설비 폐기</title>
    </head>

</style>
<body>
  <div class="DisposalSYS">
    <div class="title">
      설비 폐기
    </div>
    <div class="content">
      <div class="contentInnerFrame">
        <!-- 위쪽 경계선만 나오는 프레임 -->
        <div class="contentFrame">
          <!-- 내부 컨텐츠 감싸는 프레임 -->
          <div class="question">
            <p class="conten">기기 노후화</p>
            <button class="but"><img src="/static/assets/img/checkUnClick.svg" alt="체크벝"></button>
          </div>

          <div class="question">
            <p class="conten">미사용 설비</p>
            <button class="but"><img src="/static/assets/img/checkUnClick.svg" alt="체크벝"></button>
          </div>
          <div class="question">
            <p class="conten">직접입력</p>
          </div>

          <div class="buttonBar">
          <button class="cancle">
            <img src="/static/assets/img/cancel.svg" alt="취소">
          </button>
          <button class="accept">
            <img src="/static/assets/img/accept.svg" alt="확인">
          </button>
        </div>

        </div>
        
      </div>
    </div>

  </div>
</body>
    </th:block>
</html>