<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="main">
  <head>
    <meta charset="UTF-8">
    <title>관리자 등록</title>
    </head>

<body>
  <div class="empListFrame">
    <div class="title">
      <p>관리자 등록</p>
    </div>
    <div class="content">
      <div class="contentInnerFrame">
        <!-- 위쪽 경계선만 나오는 프레임 -->
        <div class="contentFrame">
          <!-- 내부 컨텐츠 감싸는 프레임 -->
          <div class="jeong">

            <p class="gorvTitle">정</p>

            <div class="bigFrame">
            <div class="queFrame">
                <div class="question1">
                  <p>이름</p>
                  <button><img src="/static/assets/img/dropdown.svg" alt="dropdown"></button>
                </div>
              </div>

            <div class="queFrame">
                <div class="question2">
                  <p>부서</p>
                  <button><img src="/static/assets/img/dropdown.svg" alt="dropdown"></button>
                </div>
            </div>

          </div>
        </div>
          
          <div class="boo">

            <p class="gorvAdminTitle">부</p>

            <div class="bigFrame">

              <div class="queFrame">
                  <div class="question1">
                    <p>이름</p>
                    <button><img src="/static/assets/img/dropdown.svg" alt="dropdown"></button>
                  </div>
                </div>
  
              <div class="queFrame">
                  <div class="question2">
                    <p>부서</p>
                    <button><img src="/static/assets/img/dropdown.svg" alt="dropdown"></button>
                  </div>
              </div>
  
            </div>

        </div>

        <div class="buttonBar">
          <button class="cancle">
            <img src="/static/assets/img/cancel.svg" alt="취소">
          </button>
          <button class="accept">
            <img src="/static/assets/img/accept.svg" alt="확인">
          </button>
        </div>
        </div>
        
      </div>
    </div>

  </div>
</body>
    </th:block>
</html>

