<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="main">
  <head>
    <meta charset="UTF-8">
    <title>설비 가동중</title>
    </head>
<style>
  
</style>
<body>
  <div class="SYSCheck-running">
    <div class="title">
      <p>가동중</p>
    </div>
    <div class="content">
      <div class="contentInnerFrame">
        <!-- 위쪽 경계선만 나오는 프레임 -->
        <div class="contentFrame">
          <!-- 내부 컨텐츠 감싸는 프레임 -->
            <div class="running">가동중</div>

          </div>
        </div>
        
      </div>
  </div>
</body>
    </th:block>
</html>