<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<style>
.btn-secondary {
	margin-left: 20px;
}

span {
	color: #494949;
	font-weight: bold;
}

#pageing {
	border: 1px solid #e6e6e6;
	line-height: 30px;
	background-color: #fff;
	color: #999999;
}

.input {
	height: 23px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
	border: 1px solid #dddddd;
	width: 20%;
	color: rgb(94, 94, 94);
	border-radius: 5px;
	text-align: center;
}

#leftinput {
	width: 42%;
	margin-right: 18px;
}

#startCNDATE {
	margin-right: 10px;
}

#endCNDATE {
	margin-left: 5px;
}

.dataTable-input {
	height: 40px;
}
 .nameing{ 
	float:right; 
	font-size: medium;
	font-weight: normal;
   }
     #modal {
	display: none;
}
.title {
	text-align: center;
	margin-bottom: 10px;
	margin-top: -10px;
}
</style>
</head>
<body class="sb-nav-fixed">
<th:block layout:fragment="main">
	<div class="container-fluid px-4">
		 <h2 class="mt-4">배송 관리<div class="nameing"><a href ="/" style=" text-decoration-line: none; color:black">홈</a>>영업관리>배송관리</div></h2>
		
		<!-- 메인화면 버튼 -->
		<div class="card-header" id="btn">
			<div style="display: flex; justify-content: flex-end;">
				<button id="searchBtn" class="btn btn-secondary">조회</button>
				<button id="insertBtn" class="btn btn-secondary">등록</button>
				<button id="deleteBtn" class="btn btn-secondary">삭제</button>
			</div>
		</div>
		
		<!-- 메인화면 검색 -->
		<div class="card mb-4" id="pageing">
			<div class="card-body">
				 <span> 출고일자<input type="date" name="startShdate" id="startShdate" class="input" />~
		                     <input type="date" name="endShdate" id="endShdate" class="input" /><br>
                        수주번호<input type="text" id="leftinput" class="input" placeholder="수주번호 검색" readonly="readonly"><br>
                     </span> 
			</div>
		</div>
	</div>
	<div id="search" title="배송정보" style="text-align: center;">       </div>
	
	<!-- 모달 -->
	<div id="modal"> 
	
	<!-- 수주번호 검색 모달 -->
	<div id="deliverModal" style="padding: 20px;" title="수주정보 조회">
				<div class="container">
					<div class="title">
						<span>  수주번호<input type="text" id="leftinput1" class="input" placeholder="검색">
							<button id="ShdateBtn1" class="btn btn-secondary">조회</button> <br>
					</div>
				</div>
				
				<!-- 수주번호 검색 모달 그리드 -->
				<div class="container-fluid px-4">
					<div class="card mb-4">
						<div class="card-header" style="text-align: center;">
							<i class="fas fa-table me-1"></i> 수주번호 검색
						</div>
						<div id="delivergrid"></div>
					</div>
				</div>
			</div>
			
	
	<!-- 배송 등록 모달 -->
	<div id="insertModal" style="padding: 20px;" title="배송 등록">
				<div class="container">
					<div class="title">
						<span>  출하번호<input type="text" id="rightinput1" class="input" placeholder="검색">
							<button id="ShdateBtn" class="btn btn-secondary">조회</button> <br>
					</div>
				</div>
				
				<!-- 배송 등록 모달 그리드 -->
				<div class="container-fluid px-4">
					<div class="card mb-4">
						<div class="card-header" style="text-align: center;">
							<i class="fas fa-table me-1"></i> 배송 등록
						</div>
						<div id="insertgrid"></div>
					</div>
				</div>
			</div>
	
	</div>
	
	<!-- 메인화면 그리드 -->
	<div class="container-fluid px-4">
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table me-1"></i> 배송정보
			</div>
			<div id="grid"></div>
		</div>
	</div>

<script>

	$(function() {
		
	

	/* 메인화면 그리드 */
	const gridData = [];

	const grid = new tui.Grid({
		el : document.getElementById('grid'),
		data : gridData,
		scrollX : false,
		rowHeaders : [ 'rowNum', 'checkbox' ],
		columns : [ {
			header : '배송번호',
			name : 'dnum',
			align : 'center'
		}, {
			header : '수주번호',
			name : 'cnnum',
			align : 'center'
		}, {
			header : '출하번호',
			name : 'shnum',
			align : 'center'
		},{
			header : '거래처명',
			name : 'csname',
			align : 'center'
		}, {
			header : '제품명',
			name : 'giname',
			align : 'center'
		}, {
			header : '출고수량',
			name : 'sham',
			align : 'center'
		},{
			header : '납기일자',
			name : 'cnperiod',
			align : 'center',
		}, {
			header : '출고일자',
			name : 'shdate',
			align : 'center'
		} ]
	});
	
	/* 수주번호 검색 그리드 */
	const deliverData = [];

	const delivergrid = new tui.Grid({
		el : document.getElementById('delivergrid'),
		data : deliverData,
		scrollX : false,
		rowHeaders : [ 'rowNum', 'checkbox' ],
		bodyHeight : 430,
		columns : [ {
			header : '수주번호',
			name : 'cnnum',
			align : 'center'
		}, {
			header : '거래처명',
			name : 'csname',
			align : 'center'
		}, {
			header : '제품명',
			name : 'giname',
			align : 'center'
		} ]
	});
	
	/* 배송 등록 그리드 */
	const insertData = [];

	const insertgrid = new tui.Grid({
		el : document.getElementById('insertgrid'),
		data : insertData,
		scrollX : false,
		rowHeaders : [ 'rowNum', 'checkbox' ],
		bodyHeight : 430,
		columns : [ {
			header : '출하번호',
			name : 'shnum',
			align : 'center'
		}, {
			header : '제품명',
			name : 'giname',
			align : 'center'
		}, {
			header : '거래처명',
			name : 'csname',
			align : 'center'
		}, {
			header : '출고일자',
			name : 'shdate',
			align : 'center'
		}, {
			header : '납기일자',
			name : 'cnperiod',
			align : 'center'
		} ]
	});
	
	
	/* 배송관리 조회 */
	$('#searchBtn').on('click', function() {
		var startSh = $('#startShdate').val()
		var endSh = $('#endShdate').val()
		var cnNumber = $('#leftinput').val()
		$.ajax({
			url : 'deliverSearch',
			method: 'POST',
			data : {startSh, endSh, cnNumber},
			success: function(result) {
				grid.refreshLayout();
				grid.resetData(result)
			}
		})
	})
	
	/* 배송목록 삭제 */
	$('#deleteBtn').on('click', function() {
		delGrid = grid.getCheckedRows()
		var dList = delGrid.map((e) => {return e.dnum})
		$.ajax({
			url : 'delDlist',
			method: 'POST',
			data : {dList},
			success: function() {
				grid.removeCheckedRows('')
				swal("삭제 성공!", "선택한 배송 내역이 삭제되었습니다.", "success");
			}
		})
	})
	
	/*메이크 모달*/
	function makeModal(e, fnc) {
		var dialog = $(e).dialog({
			autoOpen : false,
			height : 742,
			width : 700,
			modal : true,
			buttons : {
				'확인' : fnc,
				'취소' : function() {
				
					$(this).dialog('close')
				}
			}
		});
		$('.ui-dialog-buttonset').children().attr('class', 'btn btn-secondary')
		$('.ui-dialog-titlebar-close').html('X').css('border','none').on('click', function() {
		})
		return dialog;
	}
	var modal1 = makeModal("#deliverModal", giup)
		modal1 = makeModal("#deliverModal", giup1)
	var modal2 = makeModal("#insertModal", check)
	
	/* 수주번호검색 모달 버튼 */
	$('#leftinput').on('click', function() {
		$('#deliverModal').css('display', '')
		modal1.dialog('open')
		//전체 목록 바로 띄우는 ajax 호출
		$.ajax({
			url: 'allJepoomList',
			method: 'POST',
			success: function(result) {
				delivergrid.refreshLayout()
				delivergrid.resetData(result)
				delivergrid.on('click', e => {
					var rok = e.rowKey
					shl = delivergrid.getRow(rok).cnnum
				})
					
				}
			})
		})
	
	/* 수주번호검색 모달 검색 버튼  */
	$('#ShdateBtn1').on('click', function() {
		var cnList = $('#leftinput1').val()
		$.ajax({
			url : 'jepoomList',
			method : 'POST',
			data : {cnList},
			success: function(result) {
				delivergrid.resetData(result)
				delivergrid.on('click', e => {
					var rr = e.rowKey
					shl1 = delivergrid.getRow(rr).cnnum
				})
			}
		})
	})
	
	/* 수주번호 검색조회 모달 확인 버튼 눌렀을때  */
	function giup() {
		$('#leftinput').val(shl1)
		modal1.dialog('close')
	}
	
	/* 수주번호 전체검색 모달 확인 버튼 눌렀을때  */
	function giup1() {
		$('#leftinput').val(shl)
		modal1.dialog('close')
	}
	
	
	/* 배송등록 모달 버튼 */
	$('#insertBtn').on("click", function() {
		$('#insertModal').css('display', '')
		modal2.dialog('open')
		//전체 목록 바로 띄우는 ajax 호출
		$.ajax({
			url : 'allInShdate',
			method: 'POST',
			success: function(result) {
				insertgrid.refreshLayout();
				insertgrid.resetData(result)
			}
		})
		insertgrid.refreshLayout();
	})
	
	/* 배송등록 출하번호 조회 */
	$('#ShdateBtn').on('click', function() {
		var shNumList = $('#rightinput1').val()
		$.ajax({
			url : 'inShdate',
			method: 'POST',
			data : {shNumList},
			success: function(result) {
				insertgrid.resetData(result)
			}
			
		})
	})
		
	/* 배송등록 모달 확인 버튼 눌렀을때 */
	function check() {
		
	}
	
	
	})
</script>
</th:block>
</body>

</html>