<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>


<style>
.btn-secondary {
	margin-left: 5px;
}

span {
	color: #494949;
	font-weight: bold;
}

#pageing {
	border: 1px solid #e6e6e6;
	line-height: 30px;
	background-color: #fff;
	color: #999999;
}

.input {
	height: 23px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
	border: 1px solid #dddddd;
	width: 20%;
	color: rgb(94, 94, 94);
	border-radius: 5px;
	text-align: center;
}

#leftinput, #rightinput {
	margin-right: 17px;
}

#leftinput1 {
	background-color: #f1f1f1;
}

#startCNDATE {
	margin-right: 10px;
}

#endCNDATE {
	margin-left: 5px;
}

.dataTable-input {
	height: 40px;
}
.nameing {
	float: right;
	font-size: medium;
	font-weight: normal;
	margin-top: 15px;
}
    #modal {
	display: none;
}
.title {
	text-align: center;
	margin-bottom: 10px;
	margin-top: -10px;
}

</style>
</head>
<body class="sb-nav-fixed">
<th:block layout:fragment="main">
	<div class="container-fluid px-4">
	<div class="nameing"><a href ="/" style=" text-decoration-line: none; color:black">홈</a>>영업관리>영업재고관리</div>
		 <h1 class="mt-4">영업재고관리</h1>
		 
		 <!-- 메인화면 버튼 -->
		<div class="card-header" id="btn">
			<div style="display: flex; justify-content: flex-end;">
				<button id="insertBtn" class="btn btn-secondary" sec:authorize="hasRole('ROLE_a')">등록</button>
				<button id="searchBtn" class="btn btn-secondary">조회</button>
				<button id="updateBtn" class="btn btn-secondary" sec:authorize="hasRole('ROLE_a')">수정</button>
				<button id="deleteBtn" class="btn btn-secondary" sec:authorize="hasRole('ROLE_a')">삭제</button>
				<button id="clearBtn" class="btn btn-secondary">새자료</button>
				<button type="button" id="exelBtn" class="btn btn-secondary">엑셀</button>
				<button type="button" id="pdfBtn" class="btn btn-secondary">PDF</button>
			</div>
		</div>
		
		<!-- 메인화면 검색 -->
		<form autocomplete="off" id="dataForm">
		<div class="card mb-4" id="pageing">
			<div class="card-body">
				 <span>제품정보<input type="text" id="leftinput" placeholder="제품검색" class="input" readonly="readonly">
                             <input type="text" id="leftinput1" placeholder="제품 코드" class="input"  readonly="readonly">	<br>
                     </span> 
			</div>
		</div>
		</form>
		
	</div>

	<!-- 모달 -->
		<div id="modal">
		
		<!-- 제품 모달 -->
		<div id="prodNameModal" style="padding: 20px;" title="제품정보조회">
				<div class="container">
			<div class="title">
				제품명<input type="text" class="input" placeholder="제품명"> 
				<button id="gisearchBtn" class="btn btn-secondary">조회</button><br>
			</div>
			</div>
			
		<!-- 제품모달 그리드 -->
		<div class="container-fluid px-4">
			<div class="card mb-4">
				<div class="card-header" style="text-align: center;">
					<i class="fas fa-table me-1"></i> 제품정보
				</div>
				<div id="gridpro"></div>
			</div>
		</div>
				</div>
				
		<!-- 제품재고등록 모달 -->
		<div id="goodsStkModal" style="padding: 20px;" title="제품재고등록">
				<div class="container">
					<div class="title">
					<input type="hidden" id="jehiin">
				제품명<input id="stkmoinput" type="text" class="input" placeholder="제품명"> 
				<button id="gisearchBtn1" class="btn btn-secondary">검색</button><br>
			</div>
			</div>
			
		<!-- 제품재고수정 모달 그리드 -->
		<div class="container-fluid px-4">
			<div class="card mb-4">
				<div class="card-header" style="text-align: center;">
					<i class="fas fa-table me-1"></i> 제품정보
				</div>
				<div id="gridstk"></div>
				
				<table class="table table-bbs table-write">
				<tbody>
				<tr>
					<th style="text-align: center; width: 200px;">제품재고량</th>
					<td style="width: 200px;"><input type="text" id="giami" class="input" placeholder="제품재고량 입력"style="width: 200px; text-align: center;"></td>
				</tr>
				</tbody>
				</table>
			</div>
		</div>
		</div>
		
		</div>
		
		<!-- 메인화면 그리드 -->
		<div class="container-fluid px-4">
			<div class="card mb-4">
				<div class="card-header">
					<i class="fas fa-table me-1"></i> 제품재고목록
				</div>
				<div id="test" class="container-fluid px-4">
				<div id="grid"></div>
				</div>
			</div>
		</div>
		<div id="search" title="제품검색" style="text-align: center;"></div>


<script>
	

	$(function() {
		
		
		// 그리드 -----------------------------------------------

		/* 메인화면 그리드 */
		const gridData = [];

		const grid = new tui.Grid({
			el : document.getElementById('grid'),
			data : gridData,
			scrollX : false,
			rowHeaders : [ 'rowNum', 'checkbox' ],
			columns : [ {
				header : '제품재고관리번호',
				name : 'gsmnum',
				align : 'center'
			},{
				header : '제품명',
				name : 'giname',
				align : 'center'
			}, {
				header : '제품코드',
				name : 'gicode',
				align : 'center'
			}, {
				header : '안전재고',
				name : 'gisafe',
				align : 'center'
			}, {
				header : '제품재고량',
				name : 'gsam',
				align : 'center',
				editor: 'text',
			}, {
				header : '단위',
				name : 'giunit',
				align : 'center'
			} ]
		});
		
		/*제품재고 등록 그리드*/
		const stkdata = [];

		let jepoomstk = new tui.Grid({
			el : document.getElementById('gridstk'),
			data : stkdata,
			scrollX : false,
			rowHeaders : [ 'rowNum', 'checkbox' ],
			bodyHeight : 200,
			columns : [ {
				header : '제품명',
				name : 'giname',
				align : 'center'
			}, {
				header : '제품코드',
				name : 'gicode',
				align : 'center'
			} ]
		});
		
		/*제품정보 그리드*/
		const giupdata = [];

		let jepoom = new tui.Grid({
			el : document.getElementById('gridpro'),
			data : giupdata,
			scrollX : false,
			rowHeaders : [ 'rowNum' ],
			bodyHeight : 430,
			columns : [ {
				header : '제품코드',
				name : 'gicode',
				align : 'center',
				sortingType : 'desc',
				sortable : true
			}, {
				header : '제품명',
				name : 'giname',
				align : 'center',
				sortingType : 'desc',
				sortable : true
			}, {
				header : '제품단위',
				name : 'giunit',
				align : 'center',
				sortingType : 'desc',
				sortable : true
			} ]
		});
		
	
			
			
		/* 제품재고 조회 ok -> 수정되도록 editer */ 
		$('#searchBtn').on('click', function() {
			var gssCode = $('#leftinput1').val()
				if($('#leftinput1').val() == '') {
					swal('다시 입력하세요!', "입력되지 않은 제품정보가 있습니다!", 'warning')
		}
			$.ajax({
				url: 'stkList',
				method: 'POST',
				data : {gssCode},
				success: function(result) {
					grid.refreshLayout();
					grid.resetData(result)
				}
			})
		})
		
		/* 제품재고 삭제 ok */
		$('#deleteBtn').on('click', function() {
			delGrid = grid.getCheckedRows()
			var gsmList = delGrid.map((e) => {return e.gsmnum})
			$.ajax({
				url: 'delGsmList',
				method: 'POST',
				data : {gsmList},
				success: function() {
					grid.removeCheckedRows('')
					swal("삭제 성공!!", "선택한 제품재고 내역이 삭제되었습니다.", "success");
				}
			})
		})
		
		/* 제품재고수정 */
		$('#updateBtn').on('click', function(){
			const allstk = grid.getCheckedRows();
			$.ajax({
				url : 'goodsStkUpdate',
				method: 'POST',
				data: JSON.stringify(allstk),
				contentType: 'application/json',
				success: function() {
					swal("수정 성공!!", "선택한 제품재고 내역이 수정되었습니다.", "success");
				
					/* 07-19일 삭제 성공 경고창 띄우기, 등록창 그리드 지우고 폼으로 새로 만들기 */
				}
			})
		})
		
		/* 새자료 - 초기화버튼 */
		$('#clearBtn').on('click', function() {
			fnFormClear();
		})
		
		function fnFormClear() {
			const gsamin = $('#giami').val()
			const jepoomcoin = $('#jehiin').val()
			document.getElementById('dataForm').reset();
			grid.resetData(gridData);
			jepoomstk.resetData(stkdata);
			jepoom.resetData(giupdata);

		}

		/*메이크 모달*/
		function makeModal(e, fnc) {
			var dialog = $(e).dialog({
				autoOpen : false,
				height : 742,
				width : 700,
				modal : true,
				buttons : {
					'확인' : fnc,
					'취소' : function() {
						jepoomstk.clear();
						jepoom.clear();
						
						$(this).dialog('close')
					}
				}
			});
			$('.ui-dialog-buttonset').children().attr('class', 'btn btn-secondary')
			$('.ui-dialog-titlebar-close').html('X').css('border','none')
				jepoomstk.clear();
				jepoom.clear();
			return dialog;
		}

		var modal1 = makeModal("#prodNameModal", giup)
			modal1 = makeModal("#prodNameModal", giup1)
		var modal2 = makeModal("#goodsStkModal", check)
			
		//---------------------------------------------
		/* 제품재고등록 모달 버튼 */
		$('#insertBtn').on('click', function() {
			$("#goodsStkModal").css('display', '')
			modal2.dialog('open')
			var addStk1 = $('#stkmoinput').val()
			/* 전체제품 바로 띄우는 ajax 호출 */
			$.ajax({
				url:'allStkProdList',
				method: 'POST',
				success: function(result) {
				jepoomstk.refreshLayout()
				jepoomstk.resetData(result)
				
					
				}
			})
			
		})
		
		
		/* 제품재고등록 제품 검색 */
		$('#gisearchBtn1').on('click', function() {
			var addStk = $('#stkmoinput').val()
			$.ajax({
				url : 'stkProdList',
				method: 'POST',
				data : {addStk},
				success: function(result) {
					jepoomstk.refreshLayout();
					jepoomstk.resetData(result)
				}
			})
			
		})
		
		jepoomstk.on('click', e => {
				var jrk = e.rowKey
				var jval = jepoomstk.getValue(jrk, 'giname')
				var cval = jepoomstk.getValue(jrk, 'gicode')
				gin = jepoomstk.getRow(jrk).giname
				$('#stkmoinput').val(jval)
				$('#jehiin').val(cval)
			})
		
		
		/* 제품재고등록 모달 확인버튼 눌렀을때 */
		function check() {
			const gsamin = $('#giami').val()
			const jepoomcoin = $('#jehiin').val()
			$.ajax({
				url : 'goodsStkInsert',
				method: 'POST',
				data: {gsamin, jepoomcoin},
				success: function(result) {
					swal("등록 성공!!", "제품재고가 등록되었습니다.", "success");
				}
			})
			modal2.dialog('close')
		}
		//---------------------------------------------------
		

		/* 제품정보 모달 -> 메인페이지 조회용 */
		$("#leftinput").on("click", function() {
					$("#prodNameModal").css('display', '')
					modal1.dialog('open')
					//전체제품 바로 띄우는 ajax 호출
					$.ajax({
						url:'allGoodsList',
						method: 'POST',
						success: function(result) {
							jepoom.refreshLayout();
							jepoom.resetData(result)
							jepoom.on('click', e => {
								var rok = e.rowKey
								gin = jepoom.getRow(rok).giname
								gic = jepoom.getRow(rok).gicode
							})
						}
					})
				})
		/* 제품정보 모달 검색 이벤트 */
		$('#gisearchBtn').on('click', function() {
			var giname = $('#giinput').val()
			$.ajax({
				url: 'goodsList',
				method: 'POST',
				data : {giname},
				success: function(result) {
					jepoom.resetData(result)
					jepoom.on('click', e => {
						var rok = e.rowKey
						gin1 = jepoom.getRow(rok).giname
						gic1 = jepoom.getRow(rok).gicode
					})
				}
			})
		})
		/*제품정보 검색조회 모달 확인버튼 눌렀을떄 */
		function giup() {
			$('#leftinput').val(gin1)
			$('#leftinput1').val(gic1)
			modal1.dialog('close')
		}
		/*제품정보 전체조회 모달 확인버튼 눌렀을떄 */
		function giup1() {
			$('#leftinput').val(gin)
			$('#leftinput1').val(gic)
			modal1.dialog('close')
		}
		
		/* 엑셀버튼 눌렀을 때 */
		$('#exelBtn').on('click', function() {
			location.href="goodsstkInsertExel"
		})
		
		 /*------pdf-------------*/
        $('#pdfBtn').on('click',function(){
        	
        	 //pdf_wrap을 canvas객체로 변환
        	   html2canvas($('#test')[0]).then(function(canvas) {
        	     
        	    var imgData = canvas.toDataURL('image/png'); //캔버스를 이미지로 변환
        	    var imgWidth = 180; // 이미지 가로 길이(mm) / A4 기준 210mm
                var pageHeight = imgWidth * 1.3; // 출력 페이지 세로 길이 계산 A4 기준
                var imgHeight = canvas.height * imgWidth / canvas.width;
                var heightLeft = imgHeight;
                var margin = 10;
                var doc = new jsPDF('p', 'mm', 'a4'); //jspdf객체 생성
        	    var position =0;
        	    doc.addImage(imgData, 'PNG',margin,position,imgWidth,imgHeight); //이미지를 기반으로 pdf생성
        	    heightLeft -=pageHeight;
        	    doc.save('goodsstk.pdf'); //pdf저장
        	  });
        })
		
	})
	
	
	</script>
</th:block>
</body>

</html>