<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<script>
	
</script>


<style>
#modal {
	display: none;
}

ul {
	list-style: none;
}

.subtitle {
	text-decoration: none;
	font-size: 20px;
	margin: 2px 0px 2px;
	width: 400px;
}

.grid-option-area {
	display: flex;
	text-align: justify;
	justify-content: space-between;
	margin-bottom: 10px;
}

.tui-datepicker {
	z-index: 99;
}

.ht {
	height: 28px;
}

.title {
	text-align: center;
	margin-bottom: 10px;
	margin-top: -10px;
}

.input {
	height: 23px;
	margin-left: 15px;
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
	border: 1px solid #dddddd;
	width: 20%;
	color: rgb(94, 94, 94);
	border-radius: 5px;
	text-align: center;
	display: inline-block;
}
</style>

</head>
<body class="sb-nav-fixed">
	<th:block layout:fragment="main">
		<div class="container-fluid px-4">
			<h1 class="mt-4">입고관리</h1>
			<div class="card mb-2">
				<div class="card-header">
					<div style="display: flex; justify-content: flex-end;">
						<button type="button" id="resetBtn" class="btn btn-secondary"
							style="margin-right: 5px;">새자료</button>
						<button type="button" id="researchBtn" class="btn btn-secondary"
							style="margin-right: 5px;">조회</button>
						<button type="button" id="saveBtn" class="btn btn-secondary"
							style="margin-right: 5px;">저장</button>
						<button type="button" id="removeBtn" class="btn btn-secondary"
							style="margin-right: 5px;">삭제</button>

					</div>
				</div>
			</div>

			<!-- 버튼 끝  -->
			<div class="card mb-2">
				<div class="card-body">
					<!-- 검색폼  -->
					<form autocomplete="off" id="dataForm">
						<div class="container-fluid"
							style="display: flex; flex-flow: row wrap; justify-content: space-between;">
							<!-- 입고일자 입고업체 업체명 특기사항   -->
							<div class="item ">
								<table class="table table-bbs">
									<tbody>
										<!-- 일자겁색 -->
										<tr>
											<th><label>입고일자</label></th>
											<td>
												<div class="mt-1">
													<div
														class="tui-datepicker-input tui-datetime-input tui-has-focus">
														<input type="text" id="startpicker-input"
															class="form-control" aria-label="Date-Time" tabindex="1">
														<span class="tui-ico-date "></span>
														<div id="startpicker-container" style="margin-left: -1px;"></div>
													</div>

													<span class="mg5">~</span>
													<div
														class="tui-datepicker-input tui-datetime-input tui-has-focus">
														<input type="text" id="endpicker-input"
															class="form-control" aria-label="Date-Time" tabindex="1">
														<span class="tui-ico-date "></span>
														<div id="endpicker-container" style="margin-left: -1px;"></div>
													</div>
												</div>
											</td>
										</tr>
										<!-- 입고업체  -->
										<tr>
											<th>입고업체</th>
											<td><input type="text" id="searchBtn"
												class="form-control ht" tabindex="2" placeholder="입고처명 검색">
											</td>
										</tr>
									</tbody>
								</table>
							</div>

							<!-- 발주일자 조회  -->
							<div class="item col-5 border"
								style="width: 600px; height: 100px; margin: 10px;">
								<div class="grid-option-area mt-1">
									<ul>
										<li>
											<h3 class="subtitle"
												style="margin: 15px 0px 2px; width: 400px; font-size: 16px; font-weight: bold;">
												발주조회</h3>
										</li>
										<li class="mt-1 grid-option-area"
											style="margin: 10px; padding: 5px 0px 0px 5px;">
											<div>
												<label class="mg5">발주일자</label>
												<!--검색 시작일 -->
												<div
													class="tui-datepicker-input tui-datetime-input tui-has-focus mg5">
													<input id="orderSdate" type="text" class="form-control"
														aria-label="Date"> <span class="tui-ico-date"></span>
													<div id="orderSdate-wapper" style="margin-left: -1px;"></div>
												</div>

												<span class="mg5">~</span>

												<div
													class="tui-datepicker-input tui-datetime-input tui-has-focus mg5">
													<input id="orderEdate" type="text" class="form-control"
														aria-label="Date"> <span class="tui-ico-date"></span>
													<div id="orderEdate-wapper" style="margin-left: -1px;"></div>
												</div>
												<button type="button" class="btn btn-secondary btn-block"
													id="btnModal">검색</button>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div id="grid" class="container-fluid px-4"></div>

		<div id="modal">

			<div id="inmodal" title="발주내용">
				<div id="ingrid"></div>
			</div>

			<div id="searchmodal" style="padding: 20px;" title="입고업체검색">
				<div class="title">
					<span>거래처명</span><input type="text" class="input" id="inputComList">
					<button class="btn btn-secondary" id="inpputComBtn">검색</button>
				</div>
				<div id="goupgrid"></div>
			</div>
		</div>

		<!-- 그리드 내용  -->
		<script>
			$(function() {
				/*메이크 모달*/
				function makeModal(e, fnc) {
					var dialog = $(e).dialog({
						autoOpen : false,
						height : 600,
						width : 700,
						modal : true,
						buttons : {
							'확인' : fnc,
							'취소' : function() {
								$(this).dialog('close')
							}
						}
					});
					$('.ui-dialog-titlebar-close').html('X').css('border',
							'none')
					$('.ui-dialog-buttonset').children().attr('class',
							'btn btn-secondary')
					return dialog;
				}
				/*메이크모달 끝*/
				
				/* 입고일자 데이트 피커  */
				var today = new Date();
				var picker1 = tui.DatePicker.createRangePicker({
					startpicker : {
						date : today,
						input : '#startpicker-input',
						container : '#startpicker-container'
					},
					endpicker : {
						date : today,
						input : '#endpicker-input',
						container : '#endpicker-container'
					}
				});

				/* 발주일자 데이트 피커  */
				var picker2 = tui.DatePicker.createRangePicker({
					startpicker : {
						date : today,
						input : '#orderSdate',
						container : '#orderSdate-wapper'
					},
					endpicker : {
						date : today,
						input : '#orderEdate',
						container : '#orderEdate-wapper'
					}
				});

				const gridData = [];

				const grid = new tui.Grid({
					el : document.getElementById('grid'),
					data : gridData,
					scrollX : false,
					bodyHeight : 500,
					rowHeaders : [ 'checkbox' ],
					columns : [ {
						header : '입고일자',
						align : 'center',
						editor: 'datePicker'
					}, {
						header : '입고업체',
						align : 'center'
					}, {
						header : '자재코드',
						sortingType : 'desc',
						align : 'center',
						sortable : true
					}, {
						header : '자재명',
						align : 'center'
					}, {
						header : '규격',
						align : 'center'
					}, {
						header : '자재단위',
						align : 'center'
					}, {
						header : '발주번호',
						align : 'center'
					}, {
						header : '입고량',
						align : 'center',
						editor : 'text'
					}, {
						header : '자재 LOT.NO',
						align : 'center',
						editor : 'text'
					}, {
						header : '특이사항',
						align : 'center',
						editor :'text'
					} ]
				});

				

				/*발주일자 검색 모달*/
				var inmo = makeModal("#inmodal", inupdate)
				
				$("#btnModal").on('click', function() {
					$("#inmodal").css('display', '')
					inmo.dialog('open')
					var startD =$("#orderSdate").val();
					var endD = $("#orderEdate").val();
					$.ajax({
						url : 'insearchorder',
						method:'POST',
						data : {startD,endD},
						dataType: 'json',
						success : function(result){
							inmod.refreshLayout();
							inmod.resetData(result)
						}
					})
				})
				
				/*성공했을때 업데이트*/
				function inupdate() {
					
				}
				
				/*발주일자 검색 그리드 */
				const indata = [];
				let inmod = new tui.Grid({
					el : document.getElementById('ingrid'),
					data : indata,
					scrollX : false,
					rowHeaders : [ 'checkbox' ],
					bodyHeight : 430,
					columns : [ {
						header : '발주코드',
						align : 'center',
						name :'monum',
						sortingType : 'desc',
						sortable : true
					}, {
						header : '발주일자',
						name : 'moodate',
						align : 'center',
					}, {
						header : '자재코드',
						name : 'micode',
						align : 'center',
						sortingType : 'desc',
						sortable : true
					}, {
						header : '자재명',
						name : 'miname',
						align : 'center',
					}, {
						header : '거래처코드',
						name : 'cscode',
						align : 'center',
					}, {
						header : '거래처명',
						name : 'csname',
						align : 'center',
					} ]

				})
				/*입고처명 모달*/

				/*입고처명 그리드*/
				const giupdata = [];

				let giupgir = new tui.Grid({
					el : document.getElementById('goupgrid'),
					data : giupdata,
					scrollX : false,
					bodyHeight : 430,
					columns : [ {
						header : '거래처코드',
						name : 'cscode',
						align : 'center',
					}, {
						header : '거래처명',
						name : 'csname',
						align : 'center',
						sortingType : 'desc',
						sortable : true
					}, {
						header : '사업자등록번호',
						name : 'csnum',
						align : 'center',
					}, {
						header : '전화번호',
						name : 'cstel',
						align : 'center',
					} ]
				});
				var log = makeModal("#searchmodal", giupcheck)

				/* 입고처명 모달 */
				$("#searchBtn").on("click", function() {
					$("#searchmodal").css('display', '')
					log.dialog('open')
					$.ajax({
						url : 'companyList',
						method : 'POST',
						dataType : 'json',
						success : function(result) {
							giupgir.refreshLayout();
							giupgir.resetData(result)
							giupgir.on('click',e=>{
									var rk = e.rowKey
									cs = giupgir.getRow(rk).csname
								})
						}
					})
				})
				/*모달박스안의 검색 눌렀을때*/
				$("#inpputComBtn").on('click',function(){
					var csname= $("#inputComList").val()
						$.ajax({
							url:'findSearchCom',
							method: 'POST',
							data :{csname},
							dataType:'json',
							success :function(result){
								giupgir.resetData(result)
								giupgir.on('click',e=>{
									var rk = e.rowKey
									cs = giupgir.getRow(rk).csname
								})
							}
						})
				})
				/*기업모달에서 확인 눌렀을떄 */
				function giupcheck() {
					$("#searchBtn").val(cs)
					log.dialog('close')
				}
				
				/*입고처명 모달 끝*/
				
				
					$('#resetBtn').on('click', function(){
						fnFormClear();
					})
						function fnFormClear() {
							document.getElementById('dataForm').reset();
							picker1.setStartDate(new Date());
							picker1.setEndDate(new Date());
							picker2.setStartDate(new Date());
							picker2.setEndDate(new Date());
							grid.resetData(gridData);
						}

			})
		</script>
	</th:block>
</body>
</html>