<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<style>
#modal {
	display: none;
}
</style>
</head>
<body>
	<th:block layout:fragment="main">
		<div>
			<div class="container-fluid px-4">
				<h1>재고조회</h1>
				<div class="card mb-2 ">
					<div class="card-body">
						<form autocomplete="off" id="dataForm">
							<div class="col-6">
								<table class="table table-bbs">
									<tbody>
										<tr>
											<th><label>작업일자</label></th>
											<td colspan="3">
												<div class="mt-1 grid-option-area">
													<div
														class="tui-datepicker-input tui-datetime-input tui-has-focus">
														<input type="text" id="startpicker-input"
															class="form-control" aria-label="Date-Time" tabindex="1">
														<span class="tui-ico-date "></span>
														<div id="startpicker-container" style="margin-left: -1px;"></div>
													</div>

													<span class="mg5">~</span>
													<div
														class="tui-datepicker-input tui-datetime-input tui-has-focus">
														<input type="text" id="endpicker-input"
															class="form-control" aria-label="Date-Time" tabindex="1">
														<span class="tui-ico-date "></span>
														<div id="endpicker-container" style="margin-left: -1px;"></div>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<th><label>자재명</label></th>
											<td><input type="text" class="form-control ht"
												tabindex="2" id="searchBtn" placeholder="자재명 검색"></td>
											<th><label>자재코드</label></th>
											<td><input type="text" class="form-control ht" readonly></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="container-fluid px-4 mb-2">
								<div style="display: flex; justify-content: flex-end;">
									<button type="button" class="btn btn-secondary"
										style="margin-right: 5px;">조회</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="container-fluid px-4">
				<div id="grid"></div>
			</div>
			<div id="modal">
				<div id="listmodal" title="자재코드">
					<div id="listgrid"></div>
				</div>

			</div>
		</div>
		<script>
			/* 입고일자 데이터 피커  */
			var today = new Date();
			var picker = tui.DatePicker.createRangePicker({
				startpicker : {
					date : today,
					input : '#startpicker-input',
					container : '#startpicker-container'
				},
				endpicker : {
					date : today,
					input : '#endpicker-input',
					container : '#endpicker-container'
				},
				selectableRanges : [ [
						today,
						new Date(today.getFullYear() + 1, today.getMonth(),
								today.getDate()) ] ]
			});

			const gridData = [];

			const grid = new tui.Grid({
				el : document.getElementById('grid'),
				data : gridData,
				scrollX : false,
				bodyHeight : 500,
				rowHeaders : [ 'rowNum' ],
				columns : [ {
					header : '자재코드',
					sortingType : 'desc',
					align : 'center',
					sortable : true
				}, {
					header : '자재명',
					align : 'center'
				}, {
					header : '자재구분',
					align : 'center'
				}, {
					header : '안전재고',
					align : 'center'
				}, {
					header : '이월량',
					align : 'center'
				}, {
					header : '입고량',
					align : 'center'
				}, {
					header : '출고량',
					align : 'center'
				}, {
					header : '현재고',
					align : 'center'
				}, {
					header : '미달량',
					align : 'center'
				}, {
					header : '특기사항',
					align : 'center'
				} ],
			/* 		summary : {
						height : 40,
						position : 'bottom',
						columnContent : {
							c6 : {
								template : function(valueMap) {
									return `TOTAL: ${valueMap.sum}`;
								}
							}
						}
					} */
			});
			$(function() {
				/*메이크 모달*/
				function makeModal(e) {
					var dialog = $(e).dialog({
						autoOpen : false,
						height : 600,
						width : 700,
						modal : true,
					});
					$('.ui-dialog-titlebar-close').html('X').css('border',
							'none')
					return dialog;
				}

				var listmo = makeModal("#listmodal")
				$("#searchBtn").on(
						'click',
						function() {
							$("#listmodal").css('display', '')
							listmo.dialog({
								buttons : {
									'확인' : listupdate,
									'취소' : function() {
										$(this).dialog('close')
									}
								}
							})
							$('.ui-dialog-buttonset').children().attr('class',
									'btn btn-secondary')
							listmo.dialog('open')
							listgd.refreshLayout();

						})
				function listupdate() {

				}
				const listdata = [];
				let listgd = new tui.Grid({
					el : document.getElementById('listgrid'),
					data : listdata,
					scrollX : false,
					rowHeaders : [ 'checkbox' ],
					bodyHeight : 430,
					columns : [ {
						header : '자재코드',
						align : 'center',
						sortingType : 'desc',
						sortable : true
					}, {
						header : '자재명',
						align : 'center',

					}, {
						header : '규격',
						align : 'center',
						sortingType : 'desc',
						sortable : true
					}, {
						header : '자재단위',
						align : 'center',
					} ]

				})

			})
		</script>
	</th:block>
</body>
</html>