<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<style>
.nameing {
	float: right;
	font-size: medium;
	font-weight: normal;
	margin-top: 15px;
}

#modal {
	display: none;
}

.tui-datepicker {
	z-index: 99;
}

.title {
	text-align: center;
	margin-bottom: 10px;
	margin-top: -10px;
}

.input {
	height: 23px;
	margin-left: 15px;
	margin-top: 5px;
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
	border: 1px solid #dddddd;
	width: 20%;
	color: rgb(94, 94, 94);
	border-radius: 5px;
	text-align: center;
	display: inline-block;
}

.tui-grid-cell.rowSelect {
	background-color: #ffffff;
}

.tui-grid-cell.matDanger {
	background-color: #ffe5e5;
}
</style>
</head>
<body>
	<th:block layout:fragment="main">
		<div>
			<div class="container-fluid px-4">
				<h1 class="mt-4">
					재고조회
					<div class="nameing">
						<a href="/" style="text-decoration-line: none; color: black">홈</a>>재고관리>재고조회
					</div>
				</h1>
				<div class="card mb-2">
					<div class="card-header">
						<div style="display: flex; justify-content: flex-end;">
							<button type="button" id="exelBtn" class="btn btn-secondary"
								style="margin-right: 5px;">엑셀</button>
						</div>
					</div>
				</div>


				<div class="card mb-2 ">
					<div class="card-body">
						<form autocomplete="off" id="dataForm">
							<div class="col-6">
								<table class="table table-bbs">
									<tbody>
										<tr>
											<th><label>자재명</label></th>
											<td><input type="text" class="form-control ht"
												tabindex="2" id="searchBtn" placeholder="자재명 검색"></td>
											<th><label>자재코드</label></th>
											<td><input type="text" class="form-control ht"
												id="rightmat" readonly></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="container-fluid px-4 mb-2">
								<div style="display: flex; justify-content: flex-end;">
									<button type="button" class="btn btn-secondary"
										style="margin-right: 5px;" id="showBtn">조회</button>

								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="container-fluid px-4">
				<div id="grid"></div>
			</div>

			<div id="modal">
				<div id="listmodal" title="자재검색" style="padding: 20px;">
					<div class="title">
						<span>자재명</span><input type="text" class="input" id="miSearchName">
						<button class="btn btn-secondary" id="miSearchBtn">검색</button>
					</div>
					<div id="listgrid"></div>
				</div>
			</div>
		</div>
		<script>
            $(function () {
                const gridData = [];

                const grid = new tui.Grid({
                    el: document.getElementById('grid'),
                    data: gridData,
                    scrollX: false,
                    bodyHeight: 500,
                    rowHeaders: ['rowNum'],
                    columns: [{
                        header: '자재코드',
                        sortingType: 'desc',
                        name: 'micode',
                        align: 'center',
                        sortable: true
                    }, {
                        header: '자재명',
                        name: 'miname',
                        align: 'center'
                    }, {
                        header: '입고량',
                        name: 'msinam',
                        align: 'center'
                    }, {
                        header: '출고량',
                        name: 'msoutam',
                        align: 'center'
                    }, {
                        header: '현재고',
                        name: 'msciam',
                        align: 'center'
                    }, {
                        header: '안전재고',
                        name: 'misafe',
                        align: 'center'
                    }, {
                        header: '미달량',
                        name: 'msunam',
                        align: 'center'
                    }],
                });
                grid.hideColumn('msinam')
                grid.hideColumn('msoutam')
                /*--------------------------------------------------------*/
                /*메이크 모달*/
                function makeModal(e, fnc) {
                    var dialog = $(e).dialog({
                        autoOpen: false,
                        height: 600,
                        width: 700,
                        modal: true,
                        buttons: {
                            '확인': fnc,
                            '취소': function () {
                                $(this).dialog('close')
                            }
                        }
                    });
                    $('.ui-dialog-titlebar-close').html('X').css('border',
                        'none');
                    $('.ui-dialog-buttonset').children().attr('class',
                        'btn btn-secondary');
                    return dialog;
                }
                /*-------------------------------------------------------------*/
                const listdata = [];
                let listgd = new tui.Grid({
                    el: document.getElementById('listgrid'),
                    data: listdata,
                    scrollX: false,
                    bodyHeight: 430,
                    columns: [{
                        header: '자재코드',
                        align: 'center',
                        name: 'micode',
                        sortingType: 'desc',
                        sortable: true
                    }, {
                        header: '자재명',
                        name: 'miname',
                        align: 'center',

                    }, {
                        header: '규격',
                        align: 'center',
                        name: 'mistand'
                    }, {
                        header: '자재단위',
                        name: 'miunit',
                        align: 'center',
                    }]

                })
                /*-------------------메인그리드에 목록 보이게 하기----------------------------*/
                $.ajax({
                    url: 'matlistall',
                    method: 'POST',
                    dataType: 'JSON',
                    success: function (result) {
                        grid.resetData(result)

                        grid.on('click', e => {
                            var rk = e.rowKey
                            for (i = 0; i < grid.getRowCount(); i++) {
                                grid.removeRowClassName(i, 'rowSelect')
                            }
                            grid.addRowClassName(rk, 'rowSelect')
                        })

                        for (i = 0; i < grid.getRowCount(); i++) {
                            if (grid.getValue(i, 'misafe') - grid.getValue(i, 'msciam') > 0) {
                                grid.setValue(i, 'msunam', '-' + (grid.getValue(i, 'misafe') - grid
                                    .getValue(i, 'msciam')), false)

                                grid.addRowClassName(i, 'matDanger')
                            } else {
                                grid.setValue(i, 'msunam', 0, false)
                            }
                        }
                    }
                })
                /*row의 총자재량과 안전 재고를 띄우고 미달량 계산해서 표시*/
                /*==================================================*/
                var listmo = makeModal("#listmodal", listupdate)
                $("#searchBtn").on('click', function () {

                    listmo.dialog('open')
                    $.ajax({
                        url: 'matlist',
                        method: 'POST',
                        dataType: 'json',
                        success: function (result) {
                            listgd.refreshLayout();
                            listgd.resetData(result)
                            listgd.on('click', e => {
                                var rk = e.rowKey
                                for (i = 0; i < listgd.getRowCount(); i++) {
                                    listgd.removeRowClassName(i, 'rowSelect')
                                }
                                listgd.addRowClassName(rk, 'rowSelect')
                                mi = listgd.getRow(rk).miname
                                maco = listgd.getRow(rk).micode

                            })
                        }
                    })
                })
                /*자재코드 모달안의 검색을 눌렀을때 */
                $("#miSearchBtn").on('click', function () {
                    var miname = $('#miSearchName').val()
                    $.ajax({
                        url: 'findserchmaterial',
                        method: 'post',
                        data: {
                            miname
                        },
                        dataType: 'json',
                        success: function (result) {
                            listgd.resetData(result)
                            listgd.on('click', e => {
                                var rk = e.rowKey
                                for (i = 0; i < listgd.getRowCount(); i++) {
                                    listgd.removeRowClassName(i, 'rowSelect')
                                }
                                listgd.addRowClassName(rk, 'rowSelect')
                                mi = listgd.getRow(rk).miname
                                maco = listgd.getRow(rk).micode
                            })
                        }
                    })
                })

                function listupdate() {
                    $('#searchBtn').val(mi)
                    $("#rightmat").val(maco)
                    listmo.dialog('close')
                }

                /*----------------------검색했을때 메인그리드에 조회------------------------*/
                $('#showBtn').on('click', function () {
                    var matCode = $('#rightmat').val();
                    $.ajax({
                        url: 'matserchlist',
                        method: 'POST',
                        data: {
                            matCode
                        },
                        dataType: 'JSON',
                        success: function (result) {
                            grid.resetData(result)
                            for (i = 0; i < grid.getRowCount(); i++) {
                                if (grid.getValue(i, 'misafe') - grid.getValue(i,
                                    'msciam') > 0) {
                                    grid.setValue(i, 'msunam', '-' + (grid.getValue(i,
                                            'misafe') - grid.getValue(i, 'msciam')),
                                        false)

                                    grid.addRowClassName(i, 'matDanger')
                                } else {
                                    grid.setValue(i, 'msunam', 0, false)
                                }
                            }

                        }
                    })
                })
                
                /*------------엑셀버튼 눌렀을때 ------------------------------------------------------*/
                $('#exelBtn').on('click',function(){
                	location.href="listexel"
                	
                	/*  $.ajax({
                		url : 'listexel',
                		
                	})  */
                })
            })
        </script>
	</th:block>
</body>

</html>