<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
	rel="stylesheet" />



<style>
#modal {
	display: none;
}

.tui-datepicker {
	z-index: 99;
}

.mg5 {
	margin-top: 5px;
}

.ht {
	height: 28px;
}

.title {
	text-align: center;
	margin-bottom: 10px;
	margin-top: -10px;
}

.input {
	height: 23px;
	margin-left: 15px;
	margin-top: 5px; 
	display : inline-block;
	padding: 0 10px;
	vertical-align: middle;
	border: 1px solid #dddddd;
	width: 20%;
	color: rgb(94, 94, 94);
	border-radius: 5px;
	text-align: center;
	display: inline-block;
}
</style>

</head>
<body>
	<th:block layout:fragment="main">
		<div>
			<!-- 전체감싸는 div -->
			<div class="container-fluid px-4">
				<h1>발주관리</h1>
				<!-- 상단 버튼 모음  -->
				<div class="card mb-4">
					<div class="card-header">
						<div style="display: flex; justify-content: flex-end;">
							<button type="button" id="btnModal" class="btn btn-secondary"
								style="margin-right: 5px;">요청</button>
							<button type="button" id="saveBtn" class="btn btn-secondary"
								style="margin-right: 5px;">저장</button>
						</div>
					</div>
				</div>

				<div class="card mb-2 ">
					<div class="card-body">
						<!-- 발주일자 등 입력 -->
						<form autocomplete="off" id="dataForm">
							<div class="col">
								<table class="table table-bbs">
									<tbody>
										<tr>
											<th style="width: 20%;"><label>발주일자</label></th>
											<td>
												<div class="mt-1 grid-option-area">
													<div
														class="tui-datepicker-input tui-datetime-input tui-has-focus">
														<input type="text" id="startpicker-input"
															class="form-control" aria-label="Date-Time" tabindex="1">
														<span class="tui-ico-date "></span>
														<div id="startpicker-container" style="margin-left: -1px;"></div>
													</div>

													<span class="mg5">~</span>
													<div
														class="tui-datepicker-input tui-datetime-input tui-has-focus">
														<input type="text" id="endpicker-input"
															class="form-control" aria-label="Date-Time" tabindex="1">
														<span class="tui-ico-date "></span>
														<div id="endpicker-container" style="margin-left: -1px;"></div>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<th><label>발주업체</label></th>
											<td style="width: 200px;"><input type="text"
												class="form-control ht" tabindex="2" style="width: 200px;"
												id="searchBtn" placeholder="거래처명검색"></td>

										</tr>
										<tr>
											<th><label>자재코드</label></th>
											<td style="width: 200px;"><input type="text"
												class="form-control ht" tabindex="2" style="width: 200px;"
												id="codeBtn" placeholder="거래처명검색" readonly></td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="container-fluid px-4 mb-2">
								<div style="display: flex; justify-content: flex-end;">
									<button type="button" class="btn btn-secondary"
										style="margin-right: 5px;">조회</button>
									<button type="button" class="btn btn-secondary"
										style="margin-right: 5px;">주문</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- 그리드  -->
			<div class="container-fluid px-4">
				<div id="grid"></div>
			</div>

			<div id="modal">

				<div id="reqmodal" title="요청내용">
					<div id="gridcomp"></div>
				</div>
				<!--기업명 모달  -->
				<div id="searchmodal" title="발주업체검색" style="padding: 20px;">
					<div class="title">
						<span>거래처명</span><input type="text" class="input">
						<button class="btn btn-secondary">검색</button>
					</div>
					<div id="goupgrid"></div>
				</div>

				<div id="codemodal" title="자재검색" style="padding: 20px;">
					<div class="title">
						<span>자재명</span><input type="text" class="input">
						<button class="btn btn-secondary">검색</button>
					</div>
					<div id="codegrid"></div>
				</div>



			</div>

			<!-- 그리드 내용 만들기  -->
			<script type="text/javascript">
				$(function() {
					/* 입고일자 데이터 피커  */
					var today = new Date();
					var picker = tui.DatePicker.createRangePicker({
						startpicker : {
							date : today,
							input : '#startpicker-input',
							container : '#startpicker-container'
						},
						endpicker : {
							date : today,
							input : '#endpicker-input',
							container : '#endpicker-container'
						}
					});

					/* 메인의 그리드 */
					const gridData = [];

					const grid = new tui.Grid({
						el : document.getElementById('grid'),
						data : gridData,
						scrollX : false,
						bodyHeight : 500,
						rowHeaders : [ 'checkbox' ],
						columns : [ {
							header : '발주일자',
							sortingType : 'desc',
							align : 'center',
							sortable : true
						}, {
							header : '발주코드',
							align : 'center'
						}, {
							header : '자재코드',
							align : 'center'
						}, {
							header : '자재명',
							align : 'center'
						}, {
							header : '입고일자',
							align : 'center'
						}, {
							header : '입고처명',
							align : 'center'
						}, {
							header : '발주량',
							align : 'center'
						}, {
							header : '입고량',
							align : 'center'
						}, {
							header : '자재량',
							align : 'center'
						}, {
							header : '주문수량',
							align : 'center'
						}, {
							header : '발주상태',
							align : 'center'
						}, {
							header : '비고',
							align : 'center'
						} ]
					});

					/*메이크 모달*/
					function makeModal(e, fnc) {
						var dialog = $(e).dialog({
							autoOpen : false,
							height : 600,
							width : 700,
							modal : true,
							buttons : {
								'확인' : fnc,
								'취소' : function() {
									$(this).dialog('close')
								}
							}
						});
						$('.ui-dialog-titlebar-close').html('X').css('border',
								'none');
						$('.ui-dialog-buttonset').children().attr('class',
								'btn btn-secondary');
						return dialog;
					}

					var dia = makeModal("#reqmodal", check)

					/*발주 모달안의 그리드*/
					const totaldata = [];
					var reqG = new tui.Grid({
						el : document.getElementById('gridcomp'),
						//	data : totaldata,
						scrollX : false,
						rowHeaders : [ 'checkbox' ],
						bodyHeight : 430,
						columns : [ {
							header : '요청번호',
							name : 'reqnum',
							align : 'center',
							
						}, {
							header : '자재코드',
							name : 'micode',
							align : 'center',
						}, {
							header : '자재명',
							name : 'miname',
							align : 'center',
						}, {
							header : '발주요청량',
							name : 'mrreqam',
							align : 'center',
						}, {
							header : '처리상태',
							name : 'mrstatus',
							align : 'center',
						} ]
					});

					/*생산에서 넘어오는 정보를 가지고있는 모달*/
					$("#btnModal").on("click", function() {
						$("#reqmodal").css('display', '');
						dia.dialog('open')

						$.ajax({
							url : 'reqlist',
							method : 'POST',
							dataType : 'json',
							success : function(result) {
								reqG.resetData(result)
								reqG.refreshLayout();
							}
						})
					})

					/*생산에서 넘어오는 정보를 가지고있는 모달 확인버튼 눌렀을떄 */
					function check() {

					}

					var log = makeModal("#searchmodal", giup)

					/*업체명*/
					const giupdata = [];

					const gomo = new tui.Grid({
						el : document.getElementById('goupgrid'),
						data : giupdata,
						scrollX : false,
						rowHeaders : [ 'checkbox' ],
						bodyHeight : 430,
						columns : [ {
							header : '거래처코드',
							name : 'cscode',
							align : 'center',
						}, {
							header : '거래처명',
							name : 'csname',
							align : 'center',
							sortingType : 'desc',
							sortable : true
						}, {
							header : '사업자등록번호',
							name : 'csnum',
							align : 'center',
						}, {
							header : '전화번호',
							name : 'cstel',
							align : 'center',
						} ]
					});

					/* 기업목록 모달 */
					$("#searchBtn").on("click", function() {
						$("#searchmodal").css('display', '')
						log.dialog('open')
						$.ajax({
							url : 'giuplist',
							method : 'POST',
							dataType : 'json',
							success : function(result) {
								gomo.resetData(result)
								gomo.refreshLayout();
							}
						})
					})

					/*기업모달에서 확인 눌렀을떄 */
					function giup() {

					}
					/*자재코드 검색 그리드*/
					const jadata = [];

					const jamo = new tui.Grid({
						el : document.getElementById('codegrid'),
						data : giupdata,
						scrollX : false,
						rowHeaders : [ 'checkbox' ],
						bodyHeight : 430,
						columns : [ {
							header : '자재코드',
							name : 'micode',
							align : 'center',
						}, {
							header : '자재명',
							name : 'miname',
							align : 'center',
							sortingType : 'desc',
							sortable : true
						}, {
							header : '규격',
							name : 'mistand',
							align : 'center',
						}, {
							header : '자재단위',
							name : 'miunit',
							align : 'center',
						} ]
					})

					var cdmo = makeModal("#codemodal", cdcheck)
					/*자재코드 모달*/
					$("#codeBtn").on("click", function() {
						$("#codemodal").css('display', '')
						cdmo.dialog('open')
						$.ajax({
							url : 'matlist',
							method : 'POST',
							dataType : 'json',
							success : function(result) {
								jamo.resetData(result)
								jamo.refreshLayout();
							}
						})
					})

					/*자재검색 확인 눌렀을때 */
					function cdcheck() {

					}

				})
			</script>
		</div>
	</th:block>
</body>
</html>