<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="main">
  <head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    </head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
      crossorigin="anonymous"></script>
    <style>
    #menu {
      float: right;
      margin-right: 20px;
      text-align: right;
    }
  #menu > a {
    text-decoration: none;
    color: black;
  }
    
    #container {
      clear: both;
    }
    h1 {
      margin: 20px 10px 10px 20px;
    }
  #myf {
    margin: 10px;
    clear: both;
    width: 550px;
  }

  #myf>label {
    width: 60px;
    font-size: 80%;
  }
    </style>
    <body>
    
      <h1>사원 관리</h1>
      <div id="menu">
        <a href="/">홈</a> > 사원 > 사원관리
      </div>
      <br>
      <div sec:authorize="hasRole('ROLE_u')">
      	　관리자 권한이 없는 계정으로 조회하실 수 없습니다.
      </div>
      <div id="container" sec:authorize="hasRole('ROLE_a')">
      <div id="btns" class="card-header">
      <input type="button" class="btn btn-secondary" value="저장" onclick="check()">
      <input type="button" class="btn btn-secondary" value="삭제" onclick="del()">
      </div>
  		<form id="myf" name="myf">
    		<label for="ecode">사원코드</label> <input type="text" id="ecode" name="ecode" readonly>
    		<label for="acode">부여권한</label>
    		<select name="acode" id="acode" form="myf">
    			<option value=""></option>
    			<option value="a">관리자</option>
    			<option value="u">사용자</option>
			</select>
  		</form>
    
        <div class="card mb-4">
          <div class="card-body">
            <table id="datatablesSimple">
              <thead>
                <tr>
                  <th><input type="radio" name="emp"></th>
                  <th>사원코드</th>
                  <th>이름</th>
                  <th>입사일</th>
                  <th>직책</th>
                  <th>권한코드</th>
                  <th>Carboni ID</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="e : ${employee}">
                  <td><input type="radio" name="emp"></td>
                  <td th:text="${e.ecode}"></td>
                  <td th:text="${e.ename}"></td>
                  <td th:text="${e.ehiredate}"></td>
                  <td th:text="${e.eposition}"></td>
                  <td th:if="${e.acode} == null"> ==권한없음==</td>
                  <td th:unless="${e.acode} == null" th:text="${e.acode}"></td>
                  <td th:if="${e.lid} == null">==ID없음==</td>
                  <td th:unless="${e.lid} == null" th:text="${e.lid}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </body>
    
    <script>
    
  $(document).on('click', 'input[name="emp"]', function () {
    $(ecode).val($('input[name=emp]:checked').parent().parents().children().eq(1).text())
    $(acode).val($('input[name=emp]:checked').parent().parents().children().eq(5).text()).prop("selected",true);
  });

  function check() {
    if ($('#ecode').val() == '') {
      swal('항목을 입력하십시오', '사원코드는 필수 입력 항목입니다.', 'warning');
    } else {
      document.myf.action = 'employeeupdate';
      document.myf.submit();
    }
  }
  
  function del() {
  	swal('준비중입니다', '현재 사원을 삭제할 수 없습니다', 'info');
  }
  
    
    </script>
    
    </th:block>
    </html>