<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<div class="container-fluid px-4">
		<div class="card mb-4">
			<!--  그리드에 정보 끌어올수있는 기능-->
			<div id="gridcomp"></div>
		</div>
	</div>



	<script>
		$(function() {
			const gridData = [];

			(function() {
				for (let i = 0; i < 20; i += 1) {
					gridData.push({
						c1 : (i + 1),
						c2 : ((i + 5) % 8) * 100 + i,
						c3 : ((i + 3) % 7) * 60,
						c4 : ((i + 3) % 7) * 60,
						c5 : ((i + 3) % 7) * 60,
					});
				}
			})();

			let grid = new tui.Grid({
				el : document.getElementById('gridcomp'),
				data : gridData,
				scrollX : false,
				rowHeaders : [ 'checkbox' ],
				bodyHeight : 500,
				columns : [ {
					header : '발주일자',
					align : 'center',
				}, {
					header : '발주코드',
					align : 'center',
					sortingType : 'desc',
					sortable : true
				}, {
					header : '입고체명',
					align : 'center',
					sortingType : 'desc',
					sortable : true
				}, {
					header : '자재명',
					align : 'center',
				}, {
					header : '자재코드',
					align : 'center',
				}, {
					header : '자재단위',
					align : 'center',
				} ]
			});
		})
	</script>

</body>

</html>