<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/layout}">
<link rel="stylesheet"
   href="https://uicdn.toast.com/toast-ui.select-box/latest/toastui-select-box.css">
<script
   src="https://uicdn.toast.com/toast-ui.select-box/latest/toastui-select-box.js"></script>
<link rel="stylesheet"
   href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
<script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
<link rel="canonical"
   href="https://getbootstrap.com/docs/5.2/examples/jumbotron/">
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
   href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
   href="resources/css/plugin/datepicker/bootstrap-datepicker.css">


<head>
</head>
<body>

   <th:block layout:fragment="main">


      </head>
      <body>
         <div class="container py-4" style="display: flex; flex-wrap: wrap; max-width:1270px">
			<tr th:each=" div : ${divalign}">
	            <td>
				<div class="col-md-6" id="frame1">
	               <!-- 설비 -->
	               <div class="h-100 p-3 bg-white border rounded-3 position-relative"
	                  style="display: flex; flex-wrap: wrap; justify-content: space-evenly; width: 620px;">
	                  <div
	                     style="width: 318px; display: block; height: 60px; margin-left: -9px; position: absolute; top: 22px; left: 40px;">
	                     <h2 style="display: block; border-left: 2px solid gray;"><th:text="${div.siname}"/></h2>
	                     <!--headline  -->
	                  </div>
	                  <div class="card bg-white" style="width: 18rem; margin-top: 68px;">
	                     <div class="card-body">
	                        <form action="#" id="procInSys">
	                           <input class="form-control bg-white" style="text-align: center;" type="text" th:value="${div.pione}"  disabled readonly><br>
	                           <input class="form-control bg-white" style="text-align: center;" type="text" th:value="${div.pitwo}"  disabled readonly><br>
	                           <input class="form-control bg-white" style="text-align: center;" type="text" th:value="${div.pithree}"  disabled readonly><br>
	                           <input class="form-control bg-white" style="text-align: center;" type="text" th:value="${div.pifour}"  disabled readonly>
	                        </form>
	                        
	                     </div>
	                  </div>
	                  <div class="card bg-white" style="width: 18rem; height: 351px;">
	                     <div class="card-body">
	                        <div style="border-bottom: solid #d1d1d1 1px;">
	                           <h3 style="display: block;">생산정보</h3>
	                        </div>
	                        <form></form>
	                     </div>
	                  </div>
	                  <div class="card bg-white"
	                     style="width: 590px; height: 200px; margin-top: 17px;">
	                     <div class="card-body">
	                        <div style="border-bottom: solid #d1d1d1 1px;">
	                           <h5 style="display: block;">3rdline</h5>
	                        </div>
	                        <form></form>
	                     </div>
	                  </div>
	                  <button type="button" style="margin-bottom: -8px; margin-top: 10px; margin-left: 426px; border: none; background-color: white; font-size: x-large;">
	                  <th:href="/"> 자세히보기 > </button>
	               </div>     
	            </div>
	            </td>
			</tr>
            
			<!-- ================================================================================================================================== -->
            <!-- ================================================================================================================================== -->

            <div id="NewProdSys"style="width: 100%; margin-top: 35px; display: flex; justify-content: center;">
               <button type="button" class="btn btn-primary"
                  data-bs-toggle="modal" data-bs-target="#exampleModal"
                  style="background-color: white; border: none;">
                  <img alt="설비추가버튼" src="/assets/img/newProdSys.svg">
               </button>
            </div>

            <!-- ================================================================================================================================== -->


            <!--    MODAL -->
				  <div class="modal fade" id="exampleModal" tabindex="-1"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                     <div class="modal-header" style="border: none;"></div>
                     <div class="modal-body">
                        <form>
                           <input class="form-control bg-white" style="text-align: center;" type="text"value="${}" aria-label="자동입력" disabled readonly><br>
                           <input class="form-control"type="text" placeholder="설비 이름을 입력해주세요"aria-label="default input example" style="text-align: center;"><br>
                           <div class="tui-datepicker-input tui-datetime-input tui-has-focus" style="width: 466px;height: 40px; border-radius: 5px; border-color: #cdcdcd;">
                                    <input type="text" class="form-control" id="planDt"aria-label="Date-Time" tabindex="1" style="text-align: center; font-size: unset;"> 
                                    <span class="tui-ico-date"></span>
                           </div>
                           <div id="wrapper" style="margin-top: -1px;"></div>
                           <div style="margin: 20px; line-height: 60px;">
                           <select style="width: 466px;height: 40px;border-radius: 5px;border-color: #cdcdcd;margin-left: -20px;text-align: center;">
                              <option>사원1</option>
                              <option>사원2</option>
                              <option>사원3</option>
                           </select>
                        </div>
                        </form>
                     </div>
                     <div class="modal-footer"
                        style="display: flex; justify-content: center; border: none;">
                        <button type="button" class="btn btn-secondary"
                           data-bs-dismiss="modal">Close</button>
                        <button type="button" id="acceptMod" class="btn btn-primary">Save
                           changes</button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- ================================================================================================================================== -->

 
          

         </div>

         <script>
         
         const datepicker1 = new tui.DatePicker('#wrapper', {
            date : new Date(),
            input : {
               element : '#planDt',
               format : 'yyyy-MM-dd'
            },
            language : 'ko'

         });
         
         






</script>
   </th:block>
</body>

</html>