<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/jumbotron/">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
  </style>
<body>
   <th:block layout:fragment="main">
         <div class="container py-4" style="display: flex; flex-wrap: wrap; max-width:1270px">
		<!-- ================================================================================================================================== -->
		
		<th:block th:each=" sysvo :${divalign}">
				<div class="col-md-6" id="frame1">
	               <!-- 설비 -->
	               <div class="h-100 p-3 bg-white border rounded-3 position-relative"
	                  style="display: flex; flex-wrap: wrap; justify-content: space-evenly; width: 620px;">
	                  <div
	                     style="width: 318px; display: block; height: 60px; margin-left: -9px; position: absolute; top: 22px; left: 40px;">
	                     <h5 style="display: block; border-left: 2px solid gray;" th:text="${sysvo.siname}"></h5>
	                     <!--headline  -->
	                  </div>
	                  <div class="card bg-white" style="width: 18rem; margin-top: 68px;">
	                     <div class="card-body">
	                        <form action="#" id="procInSys">
	                           <input class="form-control bg-white" style="text-align: center;" type="text" th:value="${sysvo.pione}"  disabled readonly><br>
	                           <input class="form-control bg-white" style="text-align: center;" type="text" th:value="${sysvo.pitwo}"  disabled readonly><br>
	                           <input class="form-control bg-white" style="text-align: center;" type="text" th:value="${sysvo.pithree}"  disabled readonly><br>
	                           <input class="form-control bg-white" style="text-align: center;" type="text" th:value="${sysvo.pifour}"  disabled readonly>
	                        </form>
	                        
	                     </div>
	                  </div>
	                  <div class="card bg-white" style="width: 18rem; height: 351px;">
	                     <div class="card-body">
	                        <div style="border-bottom: solid #d1d1d1 1px;">
	                           <h3 style="display: block;">생산정보</h3>
	                        </div>
	                        <form></form>
	                     </div>
	                  </div>
	                  <div class="card bg-white"
	                     style="width: 590px; height: 200px; margin-top: 17px;">
	                     <div class="card-body">
	                        <div style="border-bottom: solid #d1d1d1 1px;">
	                           <h5 style="display: block;">3rdline</h5>
	                        </div>
	                        <form></form>
	                     </div>
	                  </div>
	                  <a href="ProdDetail.do?systemNum=${sysvo.sinum}"
	                  style="margin-bottom: -8px; margin-top: 10px; margin-left: 426px; border: none; background-color: white; font-size: x-large;" th:href="@{/ProdDetail.do(sinum=${sysvo.sinum})}" >자세히보기</a>
	               </div>     
	            </div>
			</th:block>
		
            <!-- ================================================================================================================================== -->

            <div id="NewProdSys"style="width: 100%; margin-top: 35px; display: flex; justify-content: center;">
               <button type="button" class="btn btn-primary"
                  data-bs-toggle="modal" data-bs-target="#exampleModal"
                  style="background-color: white; border: none;">
                  <img alt="설비추가버튼" src="/assets/img/newProdSys.svg">
               </button>
            </div>

            <!-- ================================================================================================================================== -->


            <!--    MODAL -->
				  <div class="modal fade" id="exampleModal" tabindex="-1"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                     <div class="modal-header" style="border: none;"></div>
                     <div class="modal-body">
                        <form action="systemInsert">
                          <input class="form-control"type="text" placeholder="설비 이름을 입력해주세요" style="text-align: center;" id="siname" name="siname"><br>
                          <input class="form-control"type="text" placeholder="초기 가동시 사용할 공정선택"style="text-align: center;" id="picodeid" name="picodeid"><br>                
                          <input class="form-control"type="text" placeholder="점검 주기를 입력해주세요 ex: 30"style="text-align: center;" id="simaint" name="simaint"><br>
                          <input class="form-control"type="text" placeholder="적정 동작 온도를 입력해주세요"style="text-align: center;"id="sisaftem" name="sisaftem"><br>
                          <input class="form-control btn btn-primary" type="submit" value="저장" style="text-align: center;"><br>
                        </form>
                     </div>
                     <div class="modal-footer"
                        style="display: flex; justify-content: center; border: none;">
                        <button type="button" class="btn btn-secondary"
                           data-bs-dismiss="modal">Close</button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- ================================================================================================================================== -->
			<!--modal in modal-->
			
			
		
 			<!-- ================================================================================================================================== -->
          

         </div>

     <script type="text/javascript">         
     
	
		$("#newInsertSystem").on("click", function() {
						$("#searchmodal").css('display', '')
						log.dialog('open')
						$.ajax({
							url : 'companyList',
							method : 'POST',
							dataType : 'json',
							success : function(result) {
								gomo.refreshLayout();
								gomo.resetData(result)
								gomo.on('click',e=>{
									var rk = e.rowKey
									cs = gomo.getRow(rk).csname
									csco = gomo.getRow(rk).cscode
								})
							}
						})
					})
	</script>
	
   </th:block>
</body>

</html>