<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/layout}">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
<meta charset="UTF-8">
<title>설비 자세히 보기</title>
</head>

<style>


.number {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background-color: #ffb611;
  font-size: 100px;
  list-style: none;
  text-align: center;
  margin-top: 50px;
  color: #333;
  border-radius: 50%;
}
</style>

<body>
   <th:block layout:fragment="main">
   
   
   <div class="container py-4" style="display: flex; flex-wrap: nowrap; width: 1300px; align-content: space-around; justify-content: space-around;">
       <div th:each="AVD:${detail}"  style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
                 	  
                 	   <!--1번카드 설비가동-->
                        <div  th:each="SCN:${syscon}">
                           <div class="card bg-white" style=" height: 260px;">
                              <div class="card-body">
                              	<div class="SystemEnabled" th:if="${#strings.equals(SCN.smstatus, 'Y')}">
                              		<img style="width: 495px; margin-top: -8px;" alt="작동중" src="/assets/img/IsRunning.svg">
                              	</div>
                              	<div class="SystemDisabled" th:if="${#strings.equals(SCN.smstatus, 'N')}">
                              		<img style="width: 495px; margin-top: -8px;" alt="점검중" src="/assets/img/MainTaining.svg">
                              	</div>
                              </div>
                           </div>
                        </div>
                           
                           
                       <!--2번카드 설비상태-->    
                        <div class="card bg-white"style="width: min-content; height: 300px; margin-bottom: 20px;" >
                           <div class="card-body" style="display: flex; flex-wrap: wrap; align-content: space-around; justify-content: space-around;">
                           
                              <div style="height: 120px; border: 1px solid #e3e3e3; border-radius: 0.25rem;" th:each="SLI:${sysLife}">
                                 <!-- progress1  -->
                                 <h4 style="margin-left: 10px; margin-top: 15px; margin-bottom: -15px;">가동일</h4>
                                 <div class="progress" style="width: 600px; margin-top: 25px; margin-left: 10px; margin-right: 10px;">
                                     <div class="progress-bar progress-bar-striped active" role="progressbar" 
                                     aria-valuemin="0" aria-valuemax="100"  th:style="'width:' + (${SLI.NOWPERCENT}) + '%;'" th:text="${SLI.NOWPERCENT}"></div>
                                 </div>
                                    <p style="display: block;float: left;font-size: 13px; margin-left: 13px; margin-top: 5px;" th:text="${AVD.sidate}">시작일</p>
                                    <p style="display: block; float: right; font-size: 13px; margin-right: 13px; margin-top: 5px;" th:text="${AVD.sidie}" >종료일</p>
                              </div>
                              
                              
                           <div style="height: 120px; border: 1px solid #e3e3e3; border-radius: 0.25rem;" th:each="MIT:${maint}" >
                                 <!-- progress2  -->
                                 <h4 style="margin-left: 10px; margin-top: 15px; margin-bottom: -15px;">정기점검</h4>
                                 <div class="progress" style="width: 600px; margin-top: 25px; margin-left: 10px; margin-right: 10px;" >
                                      <div class="progress-bar progress-bar-striped active" role="progressbar" 
                                      aria-valuemin="0" aria-valuemax="100" th:style="'width:' + (${MIT.NOWPERCENT2}) + '%;'" th:text="${MIT.NOWPERCENT2}" ></div>
                                 </div>
                                     <p style="display: block;float: left;font-size: 13px; margin-left: 13px; margin-top: 5px;" th:text="${AVD.sidate}">asdf</p>
                                     <p style="display: block;float: right; width: 76px; height: 18px; overflow: hidden; font-size: 13px; margin-right: 4px; margin-top: 5px;" th:text="${MIT.NEXTDAT}">asdf</p>
                             </div>
                           
                           </div>
                        </div>
                        
		                     <!--3번 공정순서  -->
		                  <div class="card bg-white" style="width: 518px; height: 300px;">
		                           <div class="card-body">
		                              <div
		                                 style="width: 318px; display: block; height: 40px; margin-left: 3px; position: inherit;">
		                                 <h4 style="display: block; border-left: 2px solid gray;">현재 공정정보</h4>
		                              </div>
		                              <form >
		                                <input class="form-control bg-white" style="text-align: center;" type="text" th:value="${AVD.pione}"  disabled readonly><br>
		                              <input class="form-control bg-white" style="text-align: center;" type="text" th:value="${AVD.pitwo}"  disabled readonly><br>
		                              <input class="form-control bg-white" style="text-align: center;" type="text" th:value="${AVD.pithree}"  disabled readonly><br>
		                              <input class="form-control bg-white" style="text-align: center;" type="text" th:value="${AVD.pifour}"  disabled readonly>
		                              </form>
		                           </div>
		                  </div>
		                        
		                        <!--4번카드-->
		                  <div class="card bg-white"
		                        style="width: 643px; height: 282px; margin-top: 17px;">
		                        <div class="card-body">
		                           <div style="display: flex; border-bottom: solid #d1d1d1 1px;justify-content: flex-end;">
		                              <h5 style="display: block; margin-left: -10px; margin-right: 424px;">설비 온도</h5>
		                              
                              <h5 style="font-size: 15px; margin-top: 11px; margin-bottom: -10px;">적정온도:</h5>
                              <h5 style="font-size: 15px; margin-left: 5px; margin-top: 11px; margin-bottom: -10px;" th:text="${AVD.sisaftem}">온도</h5>
		                           </div>
		                           <figure class="highcharts-figure">
										    <div id="container" style="height: 230px;"></div>
									  </figure>
		                           <!--4번카드 버튼-->
		                           <button role="button" 
                						   data-bs-toggle="modal" data-bs-target="#deleteSystem"  
                						   style="margin-left: 573px; border: none; 
                						   background-color: white;">
                						   <img alt="설비삭제버튼" src="/assets/img/deleteSysBut.svg">
                					</button>
		                        </div>
		                  </div>
      </div>
   </div>
  <!--======================================================================================================================================================-->    
  <!--======================================================================================================================================================--> 
        <div class="modal fade" id="deleteSystem" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-body">
                      <div>
                       <img alt="삭제" src="/assets/img/SiDelete.svg" style="width: 470px;">
                      </div>
                  </div>
                  <div class="modal-footer" style="border: none; margin-top: -84px;">
                    <button class="btn btn-primary" data-bs-target="#deletingSystem" data-bs-toggle="modal" style="z-index: 100;" onclick="deletingNow()">삭제</button>
                  </div>
                </div>
              </div>
            </div>
            
           
         <div class="modal fade" id="deletingSystem" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="width: fit-content;">
                  <div class="modal-body">
               <div>
               
                       <img alt="삭제진행중" src="/assets/img/SiDeleting.svg">
                       <div th:each="AVD:${detail}" class="Yudahui" style="display: flex; position: absolute; top: 217px; color: #eb4141; left: 230px;">
                      <p>삭제까지</p><p class="number" style="margin-left: 7px; margin-right: 5px; margin-top: 0px;">10</p><p>초 남았습니다</p>
                      <form id="dieform" name="dieform">
                         <input type="hidden" name="sinum" th:value="${AVD.sinum}">   
                      </form>   
                   </div>
                   <button class="btn btn-danger" style=" z-index: 100; margin-left: 273px; margin-top: -90px;" onclick="RUUUUN()">취소</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            
  <!--==========================================================================================================================================-->            
<script>
         function RUUUUN(){
            location.href="/productSysMain"
         }
            
      function deletingNow() {
           var count = 10;

           counterFn();
         
           function counterFn() {
         
             id0 = setInterval(count0Fn, 1000);
         
             function count0Fn() {
               count--;
               if (count < 0) {
                console.log('adad')
                    document.dieform.action="deleted"
                   document.dieform.submit();
                 //그 씨부럴 뭐더라 그 설비삭제 하는 코-오드
              
               } else {
                 $(".number").text(count);
               }
             }
           }
         };


Highcharts.chart('container', {
      chart: {
        type: 'spline',
        animation: Highcharts.svg, // don't animate in old IE
        marginRight: 10,
        events: {
          load: function () {

              // set up the updating of the chart each second
          var series = this.series[0];
          setInterval(function () {
            var x = (new Date()).getTime(), // current time
              y = Math.random()*2+35
            series.addPoint([x, y], true, true);
          }, 1000);
        }
      }
    },

      time: {
        useUTC: false
      },

title:{
   text:''
},

    accessibility: {
      announceNewData: {
        enabled: true,
        minAnnounceInterval: 15000,
        announcementFormatter: function (allSeries, newSeries, newPoint) {
          if (newPoint) {
            return 'New point added. Value: ' + newPoint.y;
          }
          return false;
        }
      }
    },

    xAxis: {
      type: 'datetime',
      tickPixelInterval: 150
    },

    yAxis: {
      title: {
        text: 'Value'
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: '#808080'
      }]
    },

    tooltip: {
      headerFormat: '<b>{series.name}</b><br/>',
      pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
    },

    legend: {
      enabled: false
    },
    

    exporting: {
      enabled: false
    },

    series: [{
      name: 'Random data',
      data: (function () {
        // generate an array of random data
        var data = [],
          time = (new Date()).getTime(),
          i;

        for (i = -19; i <= 0; i += 1) {
          data.push({
            x: time + i * 1000,
            y: Math.random()*1 + 35
          });
        }
        return data;
      }())
    }]
  });

   


</script>



   </th:block>
</body>
</html>