<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">


<head>

	
</head>


<body>
	<th:block layout:fragment="main">

		<div id="container">
			<div class="mainframe">

				<div class="inframe">


					<div class="frame">
						<div class="sysname">
							<p class="maintitle">1stMachine</p>
							<p class="subtitle">48-spindle braiding mech</p>
						</div>
						<div class="list">
							<button class="produp">공정 등록하기</button>
							<div class="listinner">
								<div class="listinframe">
									<img class="number" src="/assets/img/1.svg" alt="1">
									<div class="prodname">
										<div class="percent"></div>
									</div>
								</div>

								<div class="listinframe">
									<img class="number" src="/assets/img/2.svg" alt="2">
									<div class="prodname">
										<div class="percent"></div>
									</div>
								</div>

								<div class="listinframe">
									<img class="number" src="/assets/img/3.svg" alt="3">
									<div class="prodname">
										<div class="percent"></div>
									</div>
								</div>

								<div class="listinframe">
									<img class="number" src="/assets/img/4.svg" alt="4">
									<div class="prodname">
										<div class="percent"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="donut">
							<p class="do-maintitle">Graph</p>
							<hr>
							<div class="apidiv1"></div>
						</div>

						<div class="area">
							<p class="areatitle">ThermoGraph</p>
							<hr class="hr2">
							<div class="apidiv2"></div>
						</div>

					</div>

					<div><button id="detail" class="link">자세히 보기 ></button></div>

				</div>

				<div class="inframe">


					<div class="frame">
						<div class="sysname">
							<p class="maintitle">2nd Machine</p>
							<p class="subtitle">48-spindle braiding mech</p>
						</div>
						<div class="list">
							<button class="produp"><a href="">공정 등록하기 ></a></button>
							<div class="listinner">
								<div class="listinframe">
									<img class="number" src="/assets/img/1.svg" alt="1">
									<div class="prodname">
										<div class="percent"></div>
									</div>
								</div>

								<div class="listinframe">
									<img class="number" src="/assets/img/2.svg" alt="2">
									<div class="prodname">
										<div class="percent"></div>
									</div>
								</div>

								<div class="listinframe">
									<img class="number" src="/assets/img/3.svg" alt="3">
									<div class="prodname">
										<div class="percent"></div>
									</div>
								</div>

								<div class="listinframe">
									<img class="number" src="/assets/img/4.svg" alt="4">
									<div class="prodname">
										<div class="percent"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="donut">
							<p class="do-maintitle">Graph</p>
							<hr>
							<div class="apidiv1"></div>
						</div>

						<div class="area">
							<p class="areatitle">ThermoGraph</p>
							<hr class="hr2">
							<div class="apidiv2"></div>
						</div>

					</div>

					<div><button id="detail" class="link">자세히 보기 ></button></div>

				</div>

				<div class="inframe">


					<div class="frame">
						<div class="sysname">
							<p class="maintitle">3rd Machine</p>
							<p class="subtitle">96-spindle braiding mech</p>
						</div>

						<div class="list">
							<button class="produp">공정 등록하기 ></button>
							<div class="listinner">
								<div class="listinframe">
									<img class="number" src="/assets/img/1.svg" alt="1">
									<div class="prodname">
										<div class="percent"></div>
									</div>
								</div>

								<div class="listinframe">
									<img class="number" src="/assets/img/2.svg" alt="2">
									<div class="prodname">
										<div class="percent"></div>
									</div>
								</div>

								<div class="listinframe">
									<img class="number" src="/assets/img/3.svg" alt="3">
									<div class="prodname">
										<div class="percent"></div>
									</div>
								</div>

								<div class="listinframe">
									<img class="number" src="/assets/img/4.svg" alt="4">
									<div class="prodname">
										<div class="percent"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="donut">
							<p class="do-maintitle">Graph</p>
							<hr>
							<div class="apidiv1"></div>
						</div>

						<div class="area">
							<p class="areatitle">ThermoGraph</p>
							<hr class="hr2">
							<div class="apidiv2"></div>
						</div>

					</div>

					<div><button id="detail" class="link">자세히 보기 ></button></div>

				</div>

				<div class="inframe">


					<div class="frame">
						<div class="sysname">
							<p class="maintitle">4th Machine</p>
							<p class="subtitle">128-spindle braiding mech</p>
						</div>

						<div class="list">
							<button class="produp">공정 등록하기 ></button>
							<div class="listinner">
								<div class="listinframe">
									<img class="number" src="/assets/img/1.svg" alt="1">
									<div class="prodname">
										<div class="percent"></div>
									</div>
								</div>

								<div class="listinframe">
									<img class="number" src="/assets/img/2.svg" alt="2">
									<div class="prodname">
										<div class="percent"></div>
									</div>
								</div>

								<div class="listinframe">
									<img class="number" src="/assets/img/3.svg" alt="3">
									<div class="prodname">
										<div class="percent"></div>
									</div>
								</div>

								<div class="listinframe">
									<img class="number" src="/assets/img/4.svg" alt="4">
									<div class="prodname">
										<div class="percent"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="donut">
							<p class="do-maintitle">Graph</p>
							<hr>
							<div class="apidiv1"></div>
						</div>

						<div class="area">
							<p class="areatitle">ThermoGraph</p>
							<hr class="hr2">
							<div class="apidiv2"></div>
						</div>

					</div>

					<div><button id="detail" class="link">자세히 보기 ></button></div>

				</div>

				<div class="inframe2">
					<button class="sysupdate"><img src="../../static/assets/img/newProdSys.svg"
							alt="sysupdate"></button>
				</div>

			</div>

			<!-- 설비 추가-->
			<div style="display:none;" id="ProdSYS" class="mo">
				<div class="inframe">

					<div class="frame">
						<div class="sysname">
							<p class="maintitle"></p>
							<p class="subtitle"></p>
						</div>
						<div class="list">
							<button class="proceup">공정 등록하기</button>
							<div class="listinner">
								<div class="listinframe">
									<img class="number" src="/assets/img/1.svg" alt="1">
									<div class="prodname">
										<div class="percent"></div>
									</div>
								</div>

								<div class="listinframe">
									<img class="number" src="/assets/img/2.svg" alt="2">
									<div class="prodname">
										<div class="percent"></div>
									</div>
								</div>

								<div class="listinframe">
									<img class="number" src="/assets/img/3.svg" alt="3">
									<div class="prodname">
										<div class="percent"></div>
									</div>
								</div>

								<div class="listinframe">
									<img class="number" src="/assets/img/4.svg" alt="4">
									<div class="prodname">
										<div class="percent"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="donut">
							<p class="do-maintitle">Graph</p>
							<hr>
							<div class="apidiv1"></div>
						</div>

						<div class="area">
							<p class="areatitle">ThermoGraph</p>
							<hr class="hr2">
							<div class="apidiv2"></div>
						</div>

					</div>

					<div><button id="detail" class="link">자세히 보기 ></button></div>

				</div>
			</div>



		</div>


		<!--Modal 창 모음-->
		<!--자세히보기-->
		
		<!--자세히 보기 끝-->

		<!--공정등록-->

		<!--공정등록 끝-->

		<!--설비등록-->
		<div class="detailmodal">
			<div class="title">
				<p>설비 등록</p>
			</div>
			<div class="contentInnerFrame">
				<!-- 위쪽 경계선만 나오는 프레임 -->
				<div class="contentFrame">
					<!-- 내부 컨텐츠 감싸는 프레임 -->

					<div class="queFrame">
						<div class="question1">
							<p>기체 순번</p>
						</div>
					</div>

					<div class="queFrame">
						<div class="question2">
							<p>기체 이름</p>
						</div>
					</div>

					<div class="queFrame">
						<div class="question3">
							<p>등록일/시간</p>
							<button class="dropdown"><img src="/assets/img/dropdown.svg" alt="dropdown"></button>
						</div>
					</div>


					<div class="queFrame">
						<div class="question4">
							<p>관리자</p>
							<button class="dropdown"><img src="/assets/img/dropdown.svg" alt="dropdown"></button>
						</div>
					</div>

					<div class="buttonBar">
						<button class="cancle">
							<img src="/assets/img/cancel.svg" alt="취소">
						</button>
						<button class="accept">
							<img src="/assets/img/accept.svg" alt="확인">
						</button>
					</div>
				</div>

			</div>
		</div>
		<!--설비등록 끝-->


		<script>
			$(".sysupdate").click(function () {
				$(".detailmodal").fadeIn();
			});

			$(".modal_content").click(function () {
				$(".detailmodal").fadeOut();
			});
		</script>
	</th:block>
</body>

</html>