<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>설비 자세히 보기</title>
</head>
<body>
	<th:block layout:fragment="main">
	<div class="container py-4" style="display: flex;flex-wrap: wrap;align-content: space-around;justify-content: space-around;">
		
		 <div th:each="AVD:${detail}"  style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
		                  <div style="width: 33rem; height: 300px; margin-bottom: 20px;">
		                     <div class="card bg-white" style="width: 33rem; height: 260px;">
		                        <div class="card-body"></div>
		                     </div>
		                    	 <button style="width: 50px; height: 25px; margin-left: 463px; margin-top: 12px; border: none; background-color: white;">버튼</button>
		                 	 </div>
		                  <div class="card bg-white"style="width: 42rem; height: 300px; margin-bottom: 20px;">
		                     <div class="card-body" style="display: flex; flex-wrap: wrap; align-content: space-around; justify-content: space-around;">
		                        <div style="height: 120px; border: 1px solid #e3e3e3; border-radius: 0.25rem;">
		                           <!-- progress1  -->
		                           <h4>가동일</h4>
		                           <div class="progress" style="width: 600px; margin-top: 25px; margin-left: 10px; margin-right: 10px;">
		                              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" id="myBar"></div>
		                           </div>
		                        </div>
		                        <div style="height: 120px; border: 1px solid #e3e3e3; border-radius: 0.25rem;">
		                           <!-- progress1  -->
		                           <h4>정기점검</h4>
		                           <div class="progress" style="width: 600px; margin-top: 25px; margin-left: 10px; margin-right: 10px;">
		                             <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" id="myBar2"></div>
		                           </div>
		                        </div>
		
		
		                     </div>
		                  </div>
		
		                  <div class="card bg-white" style="width: 33rem; height: 300px;">
		                     <!--3번 공정순서  -->
		                     <div class="card-body">
		                        <div
		                           style="width: 318px; display: block; height: 40px; margin-left: 3px; position: inherit;">
		                           <h4 style="display: block; border-left: 2px solid gray;">현재 공정정보</h4>
		                        </div>
		                        <form >
		                          <input class="form-control bg-white" style="text-align: center;" type="text" th:value="${AVD.pione}"  disabled readonly><br>
	                           <input class="form-control bg-white" style="text-align: center;" type="text" th:value="${AVD.pitwo}"  disabled readonly><br>
	                           <input class="form-control bg-white" style="text-align: center;" type="text" th:value="${AVD.pithree}"  disabled readonly><br>
	                           <input class="form-control bg-white" style="text-align: center;" type="text" th:value="${AVD.pifour}"  disabled readonly>
		                        </form>
		                     </div>
		                  </div>
		                  <div style="width: 42rem; height: 300px; margin-bottom: 35px;">
		                     <div class="card bg-white" style="width: 42rem; height: 300px;">
		                        <div class="card-body"></div>
		                     </div>
		                     <button data-bs-toggle="modal" href="#deleteSystem" role="button" style="width: 50px; height: 25px; margin-left: 613px; margin-top: 12px; border: none; background-color: white;">버튼</button>
		                  </div>
		               </div>
	</div>
  <!--======================================================================================================================================================--> 	
  <!--======================================================================================================================================================--> 
	     <div class="modal fade" id="deleteSystem" aria-hidden="true" >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-body">
                   	<div>
                   	 <img alt="삭제" src="/assets/img/SiDelete.svg" style="width: 470px;">
                   	</div>
                  </div>
                  <div class="modal-footer" style="border: none; margin-top: -84px;">
                    <button class="btn btn-primary" data-bs-target="#deletingSystem" data-bs-toggle="modal" style="z-index: 100;">삭제</button>
                  </div>
                </div>
              </div>
            </div>
            
         <div class="modal fade" id="deletingSystem" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1" data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="width: fit-content;">
                  <div class="modal-body">
					<div>
                   	 <img alt="삭제진행중" src="/assets/img/SiDeleting.svg">
                   	</div>
                  </div>
                </div>
              </div>
            </div>
            
            
            <!--==========================================================================================================================================-->
            
            <script>
            var i = 0;
			
				  if (i == 0) {
				    i = 1;
				    var elem = document.getElementById("myBar");
				    var width = 0;
				    var id = setInterval(frame, 1500);
				    function frame() {
				      if (width >= 100) {
				        clearInterval(id);
				        i = 0;
				      } else {
				        width++;
				        elem.style.width = width + "%";
				        elem.innerHTML = width  + "%";
				      }
				    }
				  }
				  
				  
				  
				  if (i == 0) {
				    i = 1;
				    var elem = document.getElementById("myBar2");
				    var width = 0;
				    var id = setInterval(frame, 700);
				    function frame() {
				      if (width >= 100) {
				        clearInterval(id);
				        i = 0;
				      } else {
				        width++;
				        elem.style.width = width + "%";
				        elem.innerHTML = width  + "%";
				      }
				    }
				  }

            
            
            
            
            
            </script>
            
            
	</th:block>
</body>
</html>