<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/layout}">
<head>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<style>
.tui-datepicker {
	z-index: 99;
}

h5 {
	font-weight: 700;
	margin-bottom: 15px;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li {
	display: inline-block;
	background: #898989;
	color: white;
	font-weight: 700;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current {
	background: #e0e0e0;
	color: black;
	font-weight: 700;
}

.tab-content {
	display: none;
	background: #e0e0e0;
	padding: 5px;
}

.tab-content.current {
	display: inherit;
}

.fw {
	font-weight: 700;
	margin-right: 10px;
}

.mg5 {
	margin-top: 5px;
}

#manageBtn {
	text-align: center;
	margin-top: 40px;
}

#start, #end {
	border: none;
	display: inline-block;
	width: 100px;
	height: 100px;
	background: #ddd;
	line-height: 100px;
	text-align: center;
	font-size: 2em;
}

.proc {
	margin-bottom: 10px;
}

.ig {
	margin: 10px 0 10px 0;
	padding: 15px;
}

.box {
	padding: 15px;
	margin: 10px 10px 0 0;
}

.line:hover {
	opacity: .5;
}

#formData th {
	width: 90px;
}

/* 그리드용 css */
.tui-grid-cell.rowSelect {
	background-color: #ffffff;
}

/* 차트용 */
.chart {
	width: 400px;
	height: 200px;
	display: inline-block;
	margin: 0 auto;
}

#gpchart {
	background-color: white;
	text-align: center;
}

.nameing {
	float: right;
	font-size: medium;
	font-weight: normal;
	margin-top: 15px;
}
</style>
</head>
<body class="sb-nav-fixed">
	<th:block layout:fragment="main">

		<div class="container-fluid px-4">
			<div class="nameing">
				<a href="/" style="text-decoration-line: none; color: black">홈</a>>생산관리>공정관리
			</div>
			<h1 class="mt-4" style="margin-bottom: 20px;">공정관리</h1>

			<!-- 탭 -->
			<ul class="tabs">
				<li class="tab-link current" data-tab="tab-1">공정진행관리</li>
				<li class="tab-link" data-tab="tab-2" id="moniterTab">실적모니터링</li>
			</ul>

			<!-- 내용 -->
			<!-- 공정진행관리 -->
			<div id="tab-1" class="tab-content current">
				<div style="background: white; padding-bottom: 5px;">
					<div class="card-header">
						<div style="display: flex; justify-content: flex-end;">
							<button type="button" id="orderBtn" class="btn btn-secondary"
								style="margin-right: 5px;">생산지시목록</button>
							<button type="button" id="resetBtn" class="btn btn-secondary"
								style="margin-right: 5px;">새자료</button>
						</div>
					</div>
					<div class="content container-fluid"
						style="display: flex; flex-flow: row wrap; justify-content: flex-start; align-items: stretch; padding-right: 0;">
						<div class="item border box" style="width: 900px; overflow: auto;">
							<h5>진행생산지시</h5>
							<div id="orderGrid2"></div>
						</div>
						<div class="item border box" style="flex-grow: 1;">
							<h5>가동관리</h5>
							<div id="manageBtn">
								<input type="hidden" id="readyPcnum">									
								<button type="button" id="start" sec:authorize="hasRole('ROLE_a')">시작</button>
								<button type="button" id="end" sec:authorize="hasRole('ROLE_a')">종료</button>
							</div>
						</div>
					</div>
					<br>
					<div>
						<div class="border box" style="margin: 10px;">
							<h5>공정목록</h5>
							<div id="headGrid"></div>
						</div>
					</div>
				</div>
			</div>

			<!-- 공정모니터링 -->
			<div id="tab-2" class="tab-content">

				<div class="container-fluid" style="background: white;">
					<div class="row">
						<div class="col-md-3" style="min-width: 350px; overflow: auto;">
							<div class="card-body ig border">
								<h5>생산라인</h5>
								<div>
									<div class="border ig proc" style="overflow: auto;">
										<input type="hidden" class="cbn" value="LIN-CBN-1">
										<h5>LIN-CBN-1</h5>
										<div style="text-align: center;">
											<img class="line" src="/assets/img/robot-arm.png"
												alt="lineinfo" style="width: 200px; overflow: auto;">
										</div>
									</div>
									<div class="border ig proc" style="overflow: auto;">
										<input type="hidden" class="cbn" value="LIN-CBN-2">
										<h5>LIN-CBN-2</h5>
										<div style="text-align: center;">
											<img class="line" src="/assets/img/robot-arm.png"
												alt="lineinfo" style="width: 200px; overflow: auto;">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-9">
							<div class="card-body ig border" style="overflow:auto; height:500px;">
								<input type="hidden" id="cbn">
								<h5>생산실적</h5>
								<div>
									<label for="prodStDt" class="fw mg5">작업일자</label>
									<!-- 시작일 -->
									<div
										class="tui-datepicker-input tui-datetime-input tui-has-focus mg5">
										<input id="prodDtS" type="text" class="form-control"
											aria-label="Date"> <span class="tui-ico-date"></span>
										<div id="prodDtS-wapper" style="margin-left: -1px;"></div>
									</div>

									<span class="mg5">~</span>

									<!-- 종료일 -->
									<div
										class="tui-datepicker-input tui-datetime-input tui-has-focus mg5">
										<input id="prodDtE" type="text" class="form-control"
											aria-label="Date"> <span class="tui-ico-date"></span>
										<div id="prodDtE-wapper" style="margin-left: -1px;"></div>
									</div>
									<button type="button" id="prodBtn"
										class="btn btn-secondary btn-block">검색</button>
								</div>
								<div style="padding: 10px;">
									<div id="produce"></div>
								</div>
							</div>
							<div class="card-body ig border" style="overflow: auto;">
								<h5>공정별 생산내역</h5>
								<div style="padding: 10px;">
									<div id="process"></div>
									<!-- 공정모니터링 밑에  -->
									<div id="gpchart" class="container-fluid"
										style="margin: 0 auto;">
										<div id="clear" class="chart"></div>
										<div id="piechart" class="chart"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 모달 -->
		<div id="modal">

			<!-- 생산지시목록 -->
			<div id="orderModal" style="padding: 20px;" title="생산지시조회">
				<!-- 작성일자 검색 -->
				<form class="container-fluid" id="searchForm" name="searchForm">
					<div class="search-area search-area-border">
						<div style="margin-bottom: 10px;">
							<label class="fw">작업일자</label>
							<div
								class="tui-datepicker-input tui-datetime-input tui-has-focus mg5">
								<input type="text" class="form-control" id="workDt"
									aria-label="Date-Time"><span class="tui-ico-date"></span>
								<div id="wrapper" style="margin-top: -1px;"></div>
							</div>
							<button type="button"
								class="ml-1 mw50 btn-sm btn-secondary btn-block"
								id="orSearchBtn" style="margin-left: 5px;">검색</button>
						</div>
					</div>
				</form>
				<!-- 그리드 -->
				<div id="orderGrid1"></div>
			</div>

			<!-- 불량내역 등록 모달 -->
			<div id="errorModal" style="padding: 20px;" title="불량내역등록">
				<form id="formData">
					<input type="hidden" id="gicode">
					<table class="table table-bordered">
						<tr>
							<th>작업번호</th>
							<td id="phnum"></td>
						</tr>
						<tr>
							<th>작업일자</th>
							<td id="gedate"></td>
						</tr>
						<tr>
							<th>제품명</th>
							<td id="giname"></td>
						</tr>
						<tr>
							<th>불량분류</th>
							<td><select
								style="width: 100px; height: 28px; display: inline-block;"
								name="ccodeid">
									<option value="66">설비불량</option>
									<option value="64">자재불량</option>
									<option value="65">제품불량</option>
							</select></td>
						</tr>
						<tr>
							<th>불량내용</th>
							<td><input id="gedetail" type="text"
								style="width: 550px; border: none;"></td>
						</tr>
						<tr>
							<th>불량량</th>
							<td id="gegdam"></td>
						</tr>
					</table>
				</form>
			</div>

		</div>



		<!-- 스크립트 -->
		<script type="text/javascript">
		
			$(function() {
				
				
				// 탭--------------------------------------
				$('ul.tabs li').click(function() {
					var tab_id = $(this).attr('data-tab');

					$('ul.tabs li').removeClass('current');
					$('.tab-content').removeClass('current');

					$(this).addClass('current');
					$("#" + tab_id).addClass('current');
				})
				// 탭끝-------------------------------------
				
				// 공통 ajax 함수 -------------------------------
				function makeAjaxCall(url, data, async, callback, error) {
					$.ajax({
						url: url,
						method: 'POST',
						data: data,
						async: async,
						success: callback,
						error: error
					})
				}
				// --------------------------------------------
				
				
				// 그리드---------------------------------------------
				
				/* 공정진행관리 - 생산지시모달 */
				const orderList1 = [];
				
				const orderGrid1 = new tui.Grid({
					el : document.getElementById('orderGrid1'),
					data : orderList1,
					scrollX : true,
					columns : [ {
						header : '지시번호',
						name: 'pcnum',
						align : 'center'
					}, {
						header : '지시상세번호',
						name: 'pcdnum',
						align : 'center'
					}, {
						header : '지시명',
						name: 'pcname',
						align : 'center'
					}, {
						header : '제품명',
						name: 'giname',
						align : 'center'
					}, {
						header : '제품코드',
						name: 'gicode',
						align : 'center'
					}, {
						header : '지시량',
						name: 'pcdam',
						align : 'center'
					} ]
				});
				orderGrid1.hideColumn('pcdnum');
				orderGrid1.hideColumn('gicode');
				
				
				/* 공정진행관리 - 진행생산지시 */
				const orderList2 = [];
	
				const orderGrid2 = new tui.Grid({
					el : document.getElementById('orderGrid2'),
					data : orderList2,
					scrollX : false,
					columns : [ {
						header : '지시번호',
						name : 'pcnum',
						align : 'center'
					}, {
						header : '지시상세번호',
						name : 'pcdnum',
						align : 'center'
					}, {
						header : '제품명',
						name : 'giname',
						align : 'center'
					}, {
						header : '제품코드',
						name : 'gicode',
						align : 'center'
					}, {
						header : '목표수량',
						name : 'pcdam',
						align : 'center'
					}, {
						header : '라인번호',
						name : 'lineid',
						align : 'center'
					}, {
						header : '담당자',
						name : 'pcdkeeper',
						align : 'center'
					} ]
				});
				orderGrid2.hideColumn('pcdnum');
	
				/* 공정진행관리 - 공정목록 */
				const headList = [];
	
				const headGrid = new tui.Grid({
					el : document.getElementById('headGrid'),
					data : headList,
					scrollX : false,
					columns : [ {
						header : '지시번호',
						name : 'pcnum',
						align : 'center'
					}, {
						header : '지시상세번호',
						name : 'pcdnum',
						align : 'center'
					}, {
						header : '공정코드',
						name : 'picodeid',
						align : 'center'
					}, {
						header : '공정명',
						name : 'piname',
						align : 'center'
					}, {
						header : '설비번호',
						name : 'sinum',
						align : 'center'
					}, {
						header : '시작시간',
						name : 'phdstime',
						align : 'center'
					}, {
						header : '종료시간',
						name : 'phdetime',
						align : 'center'
					}, {
						header : '목표수량',
						name : 'pcdam',
						align : 'center'
					}, {
						header : '생산량',
						name : 'phdmkam',
						align : 'center'
					}, {
						header : '불량량',
						name : 'phderram',
						align : 'center'
					}, {
						header : '가동상태',
						name : 'phdstat',
						align : 'center'
					}, {
						header : '라인번호',
						name : 'lineid',
						align : 'center'
					}, {
						header : '작업번호',
						name : 'phnum',
						align : 'center'
					}, {
						header : '작업상세번호',
						name : 'phdnum',
						align : 'center'
					} ]
				});
				headGrid.hideColumn('pcdnum')
				headGrid.hideColumn('lineid')
				headGrid.hideColumn('phnum')
				headGrid.hideColumn('phdnum')
	
				/* 실적모니터링 - 생산실적 */
				const produceList = new tui.Grid({
					el : document.getElementById('produce'),
					scrollX : false,
					scrollY : true,
					rowHeaders: ['rowNum'],
					columns : [ {
						header : '작업번호',
						name : 'phnum',
						align : 'center'
					}, {
						header : '지시번호',
						name : 'pcnum',
						align : 'center'
					}, {
						header : '생산일자',
						name : 'phdate',
						align : 'center'
					}, {
						header : '제품명',
						name : 'giname',
						align : 'center'
					}, {
						header : '라인번호',
						name : 'lineid',
						align : 'center'
					}, {
						header : '목표량',
						name : 'pcdam',
						align : 'center'
					}, {
						header : '생산량',
						name : 'phmkam',
						align : 'center'
					}, {
						header : '불량량',
						name : 'pherram',
						align : 'center'
					}, {
						header : '담당자',
						name : 'pcdkeeper',
						align : 'center'
					}, {
						header : '제품코드',
						name : 'gicode',
						align : 'center'
					} ]
				});
				produceList.hideColumn('gicode')
	
				/* 실적모니터링 - 공정별 생산내역 */
				const Grid3 = new tui.Grid({
					el : document.getElementById('process'),
					scrollX : false,
					scrollY : false,
					columns : [ {
						header : '지시번호',
						name : 'pcnum',
						align : 'center'
					}, {
						header : '공정명',
						name : 'piname',
						align : 'center'
					}, {
						header : '설비번호',
						name : 'sinum',
						align : 'center'
					}, {
						header : '시작시간',
						name : 'phdstime',
						align : 'center'
					}, {
						header : '종료시간',
						name : 'phdetime',
						align : 'center'
					}, {
						header : '생산량',
						name : 'phdmkam',
						align : 'center'
					}, {
						header : '불량량',
						name : 'phderram',
						align : 'center'
					}, {
						header : '지시량',
						name : 'pcdam',
						align : 'center'
					} ]
				});
				Grid3.hideColumn('pcdam');
				
	
				// 그리드끝------------------------------------------

				// 모달---------------------------------------------
				var modal1 = makeModal('#orderModal', orderView)
				var modal2 = makeModal('#errorModal', errorInsert)
				
				/* 생산지시목록모달 작업일자로 검색 */
				$('#orderBtn').on('click', function(){
					modal1.dialog('open')
					orderGrid1.refreshLayout();
					$('#orSearchBtn').on('click', function(){
						var workDt = $('#workDt').val()
						makeAjaxCall('callOrder', {workDt}, true, function(result){
							orderGrid1.resetData(result);
							orderGrid1.on('click', e => {
								for(i=0; i<orderGrid1.getRowCount(); i++) {
									orderGrid1.removeRowClassName(i, 'rowSelect')
								}
								orderGrid1.addRowClassName(e.rowKey, 'rowSelect')
								findNum = orderGrid1.getValue(e.rowKey, 'pcnum')
							})
						})
					})
				})
				/* 진행생산지시로 추가 */
				function orderView(){
					makeAjaxCall('loadOrder', {findNum}, true, function(rs){
						datepicker1.setDate(new Date());
						orderGrid1.clear()
						orderGrid2.appendRows(rs)
					})
					modal1.dialog('close')
				}
				
				/* 불량등록모달 -> 그리드이벤트에 */
				
				
				/* 모달틀 */
				function makeModal(e, fnc) {
					var dialog = $(e).dialog({
						autoOpen: false,
						height: 600,
						width: 700,
						modal: true,
						buttons: {
							"확인": fnc,
							"취소": function () {
								orderGrid1.clear();
								datepicker1.setDate(new Date());
								$(this).dialog('close')
							}
						}
					});
					$('.ui-dialog-buttonset').children().attr('class', 'btn btn-secondary')
					$('.ui-dialog-titlebar-close').html('X').css('border', 'none').on('click', function(){
						orderGrid1.clear();
						datepicker1.setDate(new Date());
					})
					return dialog;
				}
				// 모달 끝-------------------------------------------
				
				// 그리드 이벤트---------------------------------------
				/* 진행생산지시 */
				selectRk = null;
				orderGrid2.on('dblclick', e => {
					selectRk = e.rowKey;
					for(i=0; i<orderGrid2.getRowCount(); i++) {
						orderGrid2.removeRowClassName(i, 'rowSelect')
					}
					orderGrid2.addRowClassName(e.rowKey, 'rowSelect')
					var pcnum = orderGrid2.getValue(e.rowKey, 'pcnum')
					var lineid = orderGrid2.getValue(e.rowKey, 'lineid')
					$('#readyPcnum').val(pcnum)
					makeAjaxCall('loadProdLine', {pcnum, lineid}, true, function(result) {
						headGrid.resetData(result)
						for(i=0; i<headGrid.getRowCount(); i++) {
							headGrid.setValue(i, 'phdstat', '정지')
						}
					})
				})
				
				/* 생산실적 */
				produceList.on('click', e => {
					for(i=0; i<produceList.getRowCount(); i++) {
						produceList.removeRowClassName(i, 'rowSelect')
					}
					produceList.addRowClassName(e.rowKey, 'rowSelect')
					if(e.columnName == 'pherram') {
						pn = produceList.getValue(e.rowKey, 'phnum') // 작업번호
						pd = produceList.getValue(e.rowKey, 'phdate') // 작업일자
						gc = produceList.getValue(e.rowKey, 'gicode') // 제품코드
						gn = produceList.getValue(e.rowKey, 'giname') // 제품명
						ea = produceList.getValue(e.rowKey, 'pherram') // 불량량
						$('#phnum').html(pn)
						$('#gedate').html(pd)
						$('#giname').html(gn)
						$('#gicode').val(gc)
						console.log(gc)
						$('#gegdam').html(ea)
						modal2.dialog('open')
					}
					var phnum = produceList.getValue(e.rowKey, 'phnum');
					makeAjaxCall('searchHead', {phnum}, true, function(result){
						Grid3.resetData(result)
					})
				})
				function errorInsert(){
					var phnum = $('#phnum').html()
					var gedate = $('#gedate').html()
					var gicode = $('#gicode').val()
					var gegdam = $('#gegdam').html()
					var ccodeid = $('select[name=ccodeid] option:selected').val()
					var gedetail = $('#gedetail').val()
					makeAjaxCall('errorInsert', {phnum, gedate, gicode, gegdam, ccodeid, gedetail}, true, function(){
						swal('성공', '불량내역 등록이 완료되었습니다.', 'success')
						$('#phnum').html('')
						$('#gedate').html('')
						$('#gegdam').html('')
						document.getElementById('formData').reset();
						modal2.dialog('close')
					})
					
				}
				
				
				/* 공정별 생산내역 차트 */
				Grid3.on('click', ev => {
					for(i=0; i<Grid3.getRowCount(); i++) {
						Grid3.removeRowClassName(i, 'rowSelect')
					}
					Grid3.addRowClassName(ev.rowKey, 'rowSelect')
	        		pcdam = Grid3.getRow(ev.rowKey).pcdam;
	        		mkam = Grid3.getRow(ev.rowKey).phdmkam;
	        		erram = Grid3.getRow(ev.rowKey).phderram;
	        		
						//차트
						  google.charts.load('current', { 'packages': ['corechart'] });
						  google.charts.setOnLoadCallback(drawChart);
						  google.charts.setOnLoadCallback(drawChart2);
						
						  function drawChart() {
						    var dataformat = google.visualization.arrayToDataTable([
						      ['', ''],
						      ['정상', mkam],
						      ['불량', erram],
						    ]);
						    var data = dataformat;
						    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
						    chart.draw(data);
						  }
						
						  function drawChart2() {
						    var data = google.visualization.arrayToDataTable([
						      ['', ''],
						      ['', 0],
						      ['', 0],
						      ['생산량', mkam],
						      ['잔량', pcdam-mkam]
						    ]);
						    var chart = new google.visualization.PieChart(document.getElementById('clear'));
						    chart.draw(data);
						  }		
						  
	        	})
				
				
				// 그리드 이벤트 끝-------------------------------------
				
				// 버튼 이벤트-----------------------------------------
				
				/* 공정모니터링 탭 */
				$('#moniterTab').on('click', function(){
					produceList.refreshLayout();
					Grid3.refreshLayout();
					$.ajax({
			        url : "formon",
			        method :"POST",
			        dataType: "JSON",
			        success : function(result){
			        	produceList.resetData(result);
			        } 
			  	  });
					
				})
				
				/* 새자료 */
				$('#resetBtn').on('click', function () {
					fnFormClear();
				})
				function fnFormClear() {
					$('#readyPcnum').val('')
					headGrid.clear();
					for(i=0; i<orderGrid2.getRowCount(); i++) {
						orderGrid2.removeRowClassName(i, 'rowSelect')
					}
				}
				
				/* 해당 생산지시라인시작 */
				let value;
				
				interval2 = setInterval(function(){
					if(value == '완료') {
						clearInterval(interval2)
						//insertHead();
					}
				})
				
				function insertHead(){ // 공정진행, 공정진행상세 insert
					var pcdnum = headGrid.getValue(0, 'pcdnum')
					var phmkam = headGrid.getValue(2, 'phdmkam') // 최종생산량
					var pherram = (headGrid.getValue(0, 'phderram')+headGrid.getValue(1, 'phderram')+headGrid.getValue(2, 'phderram')) // 총 불량량
					var promise = $.ajax({ // 공정진행
					   url: 'insertProcHead',
					   method: 'POST',
					   data: {pcdnum, phmkam, pherram}
					})
					
					promise.done(procHeadD);
					
					function procHeadD(result) { // 공정상세진행
					   var phnum = result.phnum
					   console.log(phnum)
					   for(i=0; i<headGrid.getRowCount(); i++) {
					      headGrid.setValue(i, 'phnum', phnum)
					      headGrid.setValue(i, 'phdnum', phnum+'-'+(i+1))
					   }
					   var procHead = headGrid.getData();
					   $.ajax({
					      url: 'insertProcHeadD',
					      method: 'POST',
					      data: JSON.stringify(procHead),
					      contentType:'application/json',
					      success: function(){
					         swal('성공', '생산이 완료되었습니다.', 'success')
					         headGrid.clear();
					         $('#readyPcnum').val() // 시작버튼그리드에 저장해둔 생산지시번호 지우기
					         orderGrid2.removeRow(selectRk)
					         
					      }
					   })
					}
				}
				
				var stop = []; // 종료버튼 interval stop 배열
				$('#start').on('click', function(){
					if($('#readyPcnum').val() != '') { // 시작버튼에 지시번호가 있을때
						var pcnum = headGrid.getValue(1, 'pcnum') // 지시번호
						makeAjaxCall('updateMat', {pcnum}, false, function(){
								for(let i=0; i<headGrid.getRowCount(); i++) { // 그리드 행 수
									//var arr = []; // setInterval용 배열
									var pcnum = headGrid.getValue(i, 'pcnum') // 지시번호
									var value = i;
									var sinum = headGrid.getValue(i, 'sinum') // 설비번호
									var lineid = headGrid.getData()[0].lineid // 라인이름
									var pcdam = headGrid.getData()[0].pcdam // 최초 지시량
									var phderram = Math.floor(pcdam*(Math.random()*0.02)) // 불량량
									headGrid.setValue(i, 'phdstat', '대기')
									
									makeAjaxCall('insertSinum', {pcnum, sinum, "linenum" : i+1}, false, function(){
										let interval = setInterval(loadProdLine, 5000, value, sinum, pcdam, phderram, pcnum)
										stop.push(interval)
									}) /// 1번째 ajax
							}
						})
					} else {
						swal('선택된 생산지시가 없습니다.', '', 'warning')
					}
				})
				
				function loadProdLine(i, sinum, pcdam, phderram, pcnum){ // 2번째 ajax
					//var timer = setInterval(function(){ // setInterval 시작
						if(headGrid.getValue(2, 'phdstat') == '완료') {
						//	arr.push(timer);
							//stop.push(timer);
						//	for(y=0; y<arr.length; y++) {
						//		clearInterval(arr[y])
						//	}
							for(z=0; z<stop.length; z++) {
								clearInterval(stop[z])
							}
						//	arr = [];
							//stop = [];
							
						//	if(i==2) {
						//		console.log(i, timer, 'setInterval 끝');
								setTimeout(insertHead(), 3000);
						//	}
						} else {
							makeAjaxCall('loadTime', {pcnum, sinum}, false, function(result) {
								if(result.phdstime != null && result.phdetime == null) { // 시작시간만
									headGrid.setValue(i, 'phdstime', result.phdstime)
									headGrid.setValue(i, 'phdstat', '가동')
									//arr.push(timer)
									//stop.push(timer);
									
								} else if(result.phdstime != null) { // 종료시간 찍혔을때
									//headGrid.setValue(i, 'phdstime', result.phdstime)
									headGrid.setValue(i, 'phdetime', result.phdetime)
									if(i==0) {
										headGrid.setValue(i, 'phdmkam', pcdam-phderram) // 생산량
										headGrid.setValue(i, 'phderram', phderram) // 불량량
										headGrid.setValue(i, 'phdstat', '완료')
										//arr.push(timer)
										//stop.push(timer);
									} else {
										var prevDam = headGrid.getValue(i-1, 'phdmkam') // 그전행 생산량
										var prevRram = Math.floor(prevDam*(Math.random()*0.02))
										headGrid.setValue(i, 'phdmkam', prevDam-prevRram)
										headGrid.setValue(i, 'phderram', prevRram)
										headGrid.setValue(i, 'phdstat', '완료')
										value = headGrid.getValue(i, 'phdstat')
										//arr.push(timer)
										//stop.push(timer);
									}
								}
							})
						}
					//} , 2000)
					//arr.push(timer)
					//stop.push(timer);
				}
				
				$('#end').on('click', function(){
					
				})
				
				/* 실적모니터링 - 라인번호 생산실적 */
				$('.line').on('dblclick', function(){
					var lineid = $(this).children().eq(0).val()
					$('#cbn').val(lineid)
					var phdate = $('#prodDt').val()
					makeAjaxCall('lineProd', {lineid, phdate}, true, function(result){
						produceList.resetData(result);
						Grid3.clear();
						var chart1 = new google.visualization.PieChart(document.getElementById('piechart'));
						var chart2 = new google.visualization.PieChart(document.getElementById('clear'));
					   chart1.clear();
					   chart2.clear();
					})
				})
				
				
				
				/* 실적모니터링 - 라인번호 작업일자 */
				$('#prodBtn').on('click', function(){
					var prodDtS = $('#prodDtS').val()
					var prodDtE = $('#prodDtE').val()
					var lineid = $('#cbn').val()
					makeAjaxCall('lineProdDt', {prodDtS, prodDtE, lineid}, true, function(result){
						produceList.resetData(result)
						Grid3.clear();
						var chart1 = new google.visualization.PieChart(document.getElementById('piechart'));
						var chart2 = new google.visualization.PieChart(document.getElementById('clear'));
					   chart1.clear();
					   chart2.clear();
					})
				})
				
				
				// 버튼 이벤트 끝---------------------------------------
				
				
				// 달력---------------------------------------------
				
				/* 계획일자 */
				const datepicker1 = new tui.DatePicker('#wrapper', {
					date : new Date(),
					input : {
						element : '#workDt',
						format : 'yyyy-MM-dd'
					},
					language : 'ko'
		
				});
				
				/* 생산일자 */
				var today = new Date();
				var range = new Date(today.getFullYear() + 1, today.getMonth(),
										today.getDate());
				const datepicker2 = new tui.DatePicker.createRangePicker({
					startpicker : {
						date : today,
						input : '#prodDtS',
						container : '#prodDtS-wapper'
					},
					endpicker : {
						date : today,
						input : '#prodDtE',
						container : '#prodDtE-wapper'
					},
					language : 'ko'
				});
				// 달력 끝-------------------------------------------
				

			})
			
			
		</script>



	</th:block>

</body>
</html>