<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<style>
		.tui-datepicker {
			z-index: 99;
		}

		.grid-option-area {
			-webkit-box-pack: justify;
			justify-content: space-between;
			min-height: 36px;
			margin-bottom: 10px;
		}

		.ht {
			height: 28px;
		}

		.mg5 {
			margin-top: 5px;
		}

		.tbold {
			font-weight: 700;
		}

		.marr {
			margin-left: 20px;
			margin-right: 20px;
			text-align: center;
		}

		#modal {
			display: none;
		}

		.cb {
			text-align: center;
			margin-top: 10px;
		}

		.fw {
			font-weight: 700;
			margin-right: 10px;
		}
	</style>
</head>

<body class="sb-nav-fixed">
	<th:block layout:fragment="main">
		<div class="container-fluid px-4">
			<h1 class="mt-4">생산지시관리</h1>
			<div class="card mb-2">
				<div class="card-header">
					<div style="display: flex; justify-content: flex-end;">
						<button type="button" id="searchBtn" class="btn btn-secondary"
							style="margin-right: 5px;">조회</button>
						<button type="button" id="resetBtn" class="btn btn-secondary"
							style="margin-right: 5px;">새자료</button>
						<button type="button" id="saveBtn" class="btn btn-secondary"
							style="margin-right: 5px;">저장</button>
						<button type="button" id="removeBtn" class="btn btn-secondary"
							style="margin-right: 5px;">삭제</button>
					</div>
				</div>
			</div>
			<div class="card mb-2">
				<div class="card-body">
					<!-- 입력폼 -->
					<form autocomplete="off" id="dataForm">
						<div class="container-fluid"
							style="display: flex; flex-flow: row wrap; justify-content: space-between;">
							<!-- 계획일자, 생산계획명, 특이사항 -->
							<div class="item col-6">
								<table class="table table-bbs table-write">
									<tbody>
										<tr>
											<th><label style="width: 100px;">지시일자</label></th>
											<td colspan="6">
												<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
													<input type="text" class="form-control" id="orderDt"
														aria-label="Date-Time" tabindex="1"> <span
														class="tui-ico-date"></span>
												</div>
												<div id="wrapper" style="margin-top: -1px;"></div>
											</td>
										</tr>
										<tr>
											<th>생산지시명</th>
											<td><input type="text" id="planDt" class="form-control ht"
													style="width: 500px;" maxlength="10" tabindex="2"></td>
											<td colspan="5">
										</tr>
										<tr>
											<th>비 고</th>
											<td><input type="text" id="remark" class="form-control ht"
													style="width: 500px;" maxlength="10" tabindex="2"></td>
											<td colspan="3">
										</tr>
									</tbody>
								</table>
							</div>

							<!-- 미지시계획조회 -->
							<div class="item col-5 border" style="width: 600px; height: 100px; margin: 10px;">
								<div class="grid-option-area mt-1">
									<ul style="list-style: none;">
										<li>
											<h3 class="subtitle"
												style="margin: 15px 0px 2px; width: 400px; font-size: 16px; font-weight: bold;">
												미지시
												계획 조회</h3>
										</li>
										<li class="mt-1 grid-option-area"
											style="margin: 10px; padding: 5px 0px 0px 5px;">
											<div>
												<label for="planStDt" class="mg5">계획일자</label>
												<!-- 시작일 -->
												<div class="tui-datepicker-input tui-datetime-input tui-has-focus mg5">
													<input id="planDtS" type="text" class="form-control"
														aria-label="Date"> <span class="tui-ico-date"></span>
													<div id="planDtS-wapper" style="margin-left: -1px;"></div>
												</div>

												<span class="mg5">~</span>

												<!-- 종료일 -->
												<div class="tui-datepicker-input tui-datetime-input tui-has-focus mg5">
													<input id="planDtE" type="text" class="form-control"
														aria-label="Date"> <span class="tui-ico-date"></span>
													<div id="planDtE-wapper" style="margin-left: -1px;"></div>
												</div>
												<button type="button" id="unorderBtn"
													class="btn btn-secondary btn-block">읽기</button>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</form>
					<!-- 입력폼 끝  -->
				</div>
			</div>
		</div>

		<!-- 전체 표 -->
		<div class="container-fluid px-4 mb-2">
			<div style="display: flex; justify-content: flex-end;">
				<button type="button" class="btn btn-secondary" style="margin-right: 5px;">추가</button>
				<button type="button" class="btn btn-secondary" style="margin-right: 5px;">삭제</button>
			</div>
		</div>
		<div class="container-fluid px-4">
			<div class="card mb-4">
				<div class="card-header">
					<i class="fas fa-table me-1"></i> 생산계획목록
				</div>
				<div class="card-body">
					<div id="totalPlan"></div>
				</div>
			</div>
		</div>

		<!-- 필요자재, 공정  -->
		<div class="container-fluid px-4">
			<div class="card mb-2">
				<div class="card-body">
					<!-- 선택한 제품 정보 -->
					<div class="container-fluid"
						style="display:flex; flex-flow: row wrap; justify-content: space-evenly; margin-bottom:15px;">
						<div class="item">
							<span class="tbold marr">제품코드</span>
							<input type="text" class="form-control ht"
								style="width: 200px; display:inline-block; height:28px;" readonly>
						</div>
						<div class="item">
							<span class="tbold marr">제품명</span>
							<input type="text" class="form-control ht"
								style="width: 200px; display:inline-block; height:28px;" readonly>
						</div>
						<div class="item">
							<span class="tbold marr">고객사</span>
							<input type="text" class="form-control ht"
								style="width: 200px; display:inline-block; height:28px;" readonly>
						</div>
						<div class="item">
							<span class="tbold marr">지시량</span>
							<input type="text" class="form-control ht"
								style="width: 200px; display:inline-block; height:28px;" readonly>
						</div>
					</div>

					<!-- 자재, 공정 -->
					<div class="container-fluid mt-1"
						style="overflow:auto; flex-flow: row wrap; display: flex; justify-content: space-between;">
						<!-- 제품자재 -->
						<div class="item" style="min-width:49%;">
							<div class="container" style="display:flex; float:left; justify-content: space-between;">
								<div class="item-fluid">
									<span class="tbold marr mg5">자재코드</span>
									<input type="text" class="form-control ht mg5"
										style="width: 150px; display:inline-block;">
								</div>
								<div class="item-fluid">
									<span class="tbold marr mg5">자재명</span>
									<input type="text" class="form-control ht mg5"
										style="width: 150px; display:inline-block;">
								</div>
								<div class="item btn-group">
									<button type="button" class="btn btn-secondary">검색</button>
								</div>
							</div>
							<div class="mg5" style="margin-top:50px;">
								<div id="matlist"></div>
							</div>
						</div>
						<div class="item" style="min-width: 49%;">
							<div id="prclist" style="margin-top:15px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="modal">

			<div id="orderModal" style="padding:20px;" title="생산지시조회">
				<!-- 생산지시관리 - 생신지시조회 모달 -->
				<!-- 작성일자 검색 -->
				<form class="container-fluid" id="searchForm" name="searchForm">
					<div class="search-area search-area-border" style="width: 100%;">
						<ul style="list-style: none;">
							<li><label class="fw">지시일자</label>
								<!-- 시작일 -->
								<div class="tui-datepicker-input tui-datetime-input tui-has-focus mg5">
									<input id="orderDtS" type="text" class="form-control" aria-label="Date"
										name="orderDtS"> <span class="tui-ico-date"></span>
									<div id="orderDtS-wapper" style="margin-left: -1px;"></div>
								</div>
	
								<span class="mg5">~</span>
	
								<!-- 종료일 -->
								<div class="tui-datepicker-input tui-datetime-input tui-has-focus mg5">
									<input id="orderDtE" type="text" class="form-control" aria-label="Date"
										name="orderDtE"> <span class="tui-ico-date"></span>
									<div id="orderDtE-wapper" style="margin-left: -1px;"></div>
								</div>
								<button type="button" class="ml-1 mw50 btn-sm btn-secondary" id="unprodBtn">검색</button>
							</li>
						</ul>
					</div>
				</form>
	
				<!-- 진행상태 구분 -->
				<div class="container-fluid" style="margin-top: 40px; margin-bottom: 10px;">
					<div>
						<label class="fw">진행상태</label>
						<select style="width:100px; height:28px; display: inline-block;">
							<option value="unprocess">미공정</option>
							<option value="processing">공정진행</option>
						</select>
					</div>
				</div>
	
				<!-- 그리드 -->
				<div id="orderList"></div>
			</div>
	
			<div id="planModal" style="padding:20px;" title="미지시계획조회">
				<div id="planList"></div>
			</div>

		</div>

		<!-- 스크립트 -->
		<script type="text/javascript">

			$(function () {
				
				// 그리드 ---------------------------------------
				/* 계획목록 */
				const totalPlan = [];

				const pnGrid = new tui.Grid({
					el: document.getElementById('totalPlan'),
					data: totalPlan,
					scrollX: false,
					rowHeaders: ['checkbox'],
					columns: [{
						header: '계획번호',
						name: 'ppnum',
						align: 'center'
					}, {
						header: '계획명',
						name: 'ppname',
						align: 'center'
					}, {
						header: '제품명',
						name: 'giname',
						align: 'center'
					}, {
						header: '납기일자',
						name: 'prclose',
						align: 'center'
					}, {
						header: '라인코드',
						name: 'lineid',
						align: 'center'
					}, {
						header: '계획량',
						name: 'ppadam',
						align: 'center'
					}, {
						header: '지시량',
						name: 'pcdam',
						align: 'center'
					}, {
						header: '생산구분',
						name: 'pcddiv',
						align: 'center'
					}, {
						header: '작업시작일',
						name: 'pcdsdate',
						align: 'center'
					}, {
						header: '담당자',
						name: 'pcdkeeper',
						align: 'center'
					}, {
						header: '계획상세번호',
						name: 'ppdnum',
						align: 'center'
					}]
				});
				pnGrid.hideColumn('ppdnum');

				/* 자재목록 */
				const material = [];

				const matlist = new tui.Grid({
					el: document.getElementById('matlist'),
					data: material,
					scrollX: false,
					rowHeaders: ['checkbox', 'rowNum'],
					columns: [{
						header: '자재코드',
						align: 'center'
					}, {
						header: '자재명',
						align: 'center'
					}, {
						header: '소요량',
						align: 'center'
					}, {
						header: '재고량',
						align: 'center'
					}]
				});

				/* 공정선택 */
				const process = [];

				const prclist = new tui.Grid({
					el: document.getElementById('prclist'),
					data: process,
					bodyHeight: 200,
					scrollX: false,
					rowHeaders: ['checkbox'],
					columns: [{
						header: '순번',
						align: 'center'
					}, {
						header: '공정코드',
						align: 'center'
					}, {
						header: '1차공정',
						align: 'center'
					}, {
						header: '2차공정',
						align: 'center'
					}, {
						header: '3차공정',
						align: 'center'
					}, {
						header: '4차공정',
						align: 'center'
					}, {
						header: '비고',
						align: 'center'
					}]
				});
				
				/* 생산지시목록모달 그리드 */
				const orderList = [];
				
				const orderGrid = new tui.Grid({
			      el: document.getElementById('orderList'),
			      data: orderList,
			      columns: [
			        {
			          header: '지시일자',
			          align : 'center'
			        },
			        {
			          header: '지시번호',
			          align : 'center'
			        },
			        {
			          header: '지시명',
			          align : 'center'
			        },
			        {
			          header: '비고',
			          align : 'center'
			        }
			      ]
		    	});

				/* 미지시계획모달 그리드 */
				const planList = [];

				const planGrid = new tui.Grid({
					el: document.getElementById('planList'),
					data: planList,
					rowHeaders : [ 'checkbox' ],
					columns: [
						{
							header: '계획일자',
							name: 'ppdate',							
							align: 'center'
						},
						{
							header: '계획번호',
							name: 'ppnum',
							align: 'center'
						},
						{
							header: '계획명',
							name: 'ppname',
							align: 'center'
						},
						{
							header: '비고',
							name: 'ppnote',
							align: 'center'
						}
					]
				});

				// 그리드끝-----------------------------------



				// 모달----------------------------------------
				var modal1 = makeModal("#orderModal", orderView)
				var modal2 = makeModal('#planModal', planAdd)

				/* 생산지시조회 모달 */
				$('#searchBtn').on('click', function () {
					$('#orderModal').css('display', '')
					modal1.dialog('open')
					orderGrid.refreshLayout();
				})
				function orderView() {

				}


				/* 미지시계획 모달 */
				$('#unorderBtn').on('click', function () {
					$('#planModal').css('display', '')
					modal2.dialog('open')
					planGrid.refreshLayout();
					var startDt = $('#planDtS').val()
					var endDt = $('#planDtE').val()
					$.ajax({
						url: 'unorderList',
						method: 'POST',
						data : { startDt, endDt },
						success: function(result){
							planGrid.resetData(result);
						}
					})
				})
				/* 미생산계획조회 후 생산계획 지시에 등록 */
				function planAdd() {
					const count = planGrid.getCheckedRows();
					const planNums = count.map((e)=>{return e.ppnum})
					$.ajax({
						url: 'addPlan',
						data: { planNums },
						success: function(rs){
							pnGrid.refreshLayout();
							matlist.resetData(material);
							prclist.resetData(process);
							pnGrid.resetData(rs)
						}
					})
					modal2.dialog('close')
				}

				/* 모달틀 */
				function makeModal(e, fnc) {
					var dialog = $(e).dialog({
						autoOpen: false,
						height: 600,
						width: 700,
						modal: true,
						buttons: {
							"확인": fnc,
							"취소": function () {
								orderGrid.resetData(orderList);
								planGrid.resetData(planList);
								picker.setStartDate(new Date());
								picker.setEndDate(new Date());
								$(this).dialog('close')
							}
						}
					});
					$('.ui-dialog-buttonset').children().attr('class', 'btn btn-secondary')
					$('.ui-dialog-titlebar-close').html('X').css('border', 'none').on('click', function(){
						orderGrid.resetData(orderList);
						planGrid.resetData(planList);
						picker.setStartDate(new Date());
						picker.setEndDate(new Date());
					})
					return dialog;
				}
				// 모달 끝-----------------------------------
				
				
				// 버튼 -------------------------------------

				/* 새자료 */
				$('#resetBtn').on('click', function () {
					fnFormClear();
				})

				function fnFormClear() {
					document.getElementById('dataForm').reset();
					$('#orderDt').val('');
					datepicker1.setDate(new Date());
					datepicker2.setStartDate(new Date());
					datepicker2.setEndDate(new Date());
					picker.setStartDate(new Date());
					picker.setEndDate(new Date());
					pnGrid.resetData(totalPlan);
					matlist.resetData(material);
					prclist.resetData(process);
				}

				// 버튼 끝 ----------------------------------
				
				
			}) // function 끝


			// 달력---------------------------------------------
	
			/* 계획일자 */
			const datepicker1 = new tui.DatePicker('#wrapper', {
				date : new Date(),
				input : {
					element : '#orderDt',
					format : 'yyyy-MM-dd'
				},
				language : 'ko'
	
			});
	
			/* 미지시계획조회 모달 달력 */
			var today = new Date();
			var range = new Date(today.getFullYear() + 1, today.getMonth(),
									today.getDate());
			const datepicker2 = new tui.DatePicker.createRangePicker({
				startpicker : {
					date : today,
					input : '#planDtS',
					container : '#planDtS-wapper'
				},
				endpicker : {
					date : today,
					input : '#planDtE',
					container : '#planDtE-wapper'
				},
				language : 'ko'
			});
			
			/* 생산지시 작성일자 모달 달력 */
			var picker = new tui.DatePicker.createRangePicker({
				startpicker : {
					date : today,
					input : '#orderDtS',
					container : '#orderDtS-wapper'
				},
				endpicker : {
					date : today,
					input : '#orderDtE',
					container : '#orderDtE-wapper'
				},
				language : 'ko'
			});
			
			// 달력끝------------------------------------------


		</script>
	</th:block>
</body>

</html>