<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layouts/layout}">
<head>
<style>
.tui-datepicker {
	z-index: 99;
}

.grid-option-area {
	-webkit-box-pack: justify;
	justify-content: space-between;
	min-height: 36px;
	margin-bottom: 10px;
}
.ht {
	height: 28px;
}
.mg5 {
	margin-top:5px;
}
</style>
</head>
<body class="sb-nav-fixed">
	<th:block layout:fragment="main">
	<div class="container-fluid px-4">
		<h1 class="mt-4">생산계획관리</h1>
		<div class="card mb-2">
			<div class="card-header">
				<div style="display: flex; justify-content: flex-end;">
					<button type="button" id="searchBtn" class="btn btn-secondary"
						style="margin-right: 5px;">조회</button>
					<button type="button" id="resetBtn" class="btn btn-secondary"
						style="margin-right: 5px;">새자료</button>
					<button type="button" id="saveBtn" class="btn btn-secondary"
						style="margin-right: 5px;">저장</button>
					<button type="button" id="removeBtn" class="btn btn-secondary"
						style="margin-right: 5px;">삭제</button>
				</div>
			</div>
		</div>
		<div class="card mb-2">
			<div class="card-body">
				<!-- 입력폼 -->
				<form autocomplete="off" id="dataForm">
					<div class="container-fluid"
						style="display: flex; flex-flow: row wrap; justify-content: space-between;">
						<!-- 계획일자, 생산계획명, 특이사항 -->
						<div class="item col-6">
							<table class="table table-bbs">
								<tbody>
									<tr>
										<th><label style="width: 100px;">계획일자</label></th>
										<td colspan="6">
											<div
												class="tui-datepicker-input tui-datetime-input tui-has-focus">
												<input type="text" class="form-control" id="planDt"
													aria-label="Date-Time" tabindex="1"> <span
													class="tui-ico-date"></span>
											</div>
											<div id="wrapper" style="margin-top: -1px;"></div>
										</td>
									</tr>
									<tr>
										<th>생산계획명</th>
										<td><input type="text" id="planDt" class="form-control ht"
											style="width: 500px;" maxlength="10" tabindex="2"></td>
										<td colspan="5">
									</tr>
									<tr>
										<th>비  고</th>
										<td><input type="text" id="remark" class="form-control ht"
											style="width: 500px;" maxlength="10" tabindex="2"></td>
										<td colspan="3">
									</tr>
								</tbody>
							</table>
						</div>

						<!-- 미생산주문조회 -->
						<div class="item col-5 border"
							style="width: 600px; height: 100px; margin: 10px;">
							<div class="grid-option-area mt-1">
								<ul style="list-style: none;">
									<li>
										<h3 class="subtitle"
											style="margin: 15px 0px 2px; width: 400px; font-size: 16px; font-weight: bold;">미생산
											주문 조회</h3>
									</li>
									<li class="mt-1 grid-option-area"
										style="margin: 10px; padding: 5px 0px 0px 5px;">
										<div>
											<label for="requestStDt" class="mg5">납기일자</label>
											<!-- 시작일 -->
											<div
												class="tui-datepicker-input tui-datetime-input tui-has-focus mg5">
												<input id="requestDtS" type="text" class="form-control"
													aria-label="Date" name="requestDtS"> <span class="tui-ico-date"></span>
												<div id="requestDtS-wapper" style="margin-left: -1px;"></div>
											</div>

											<span class="mg5">~</span>

											<!-- 종료일 -->
											<div
												class="tui-datepicker-input tui-datetime-input tui-has-focus mg5">
												<input id="requestDtE" type="text" class="form-control"
													aria-label="Date" name="requestDtE"> <span class="tui-ico-date"></span>
												<div id="requestDtE-wapper" style="margin-left: -1px;"></div>
											</div>
											<button type="button" class="btn btn-secondary btn-block" id="unprodBtn">읽기</button>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</form>
				<!-- 입력폼 끝  -->
			</div>
		</div>
	</div>

	<!-- 전체 표 -->
	<div class="container-fluid px-4 mb-2">
		<div style="display: flex; justify-content: flex-end;">
			<button type="button" class="btn btn-secondary"
				style="margin-right: 5px;">추가</button>
			<button type="button" class="btn btn-secondary"
				style="margin-right: 5px;">삭제</button>
		</div>
	</div>
	<div class="container-fluid px-4">
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table me-1"></i> 생산제품목록
			</div>
			<div class="card-body">
				<div id="total"></div>
			</div>
		</div>
	</div>

	<!-- 필요자재표  -->
	<div class="container-fluid px-4">
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table me-1"></i> 필요자재체크
			</div>
			<div class="card-body">
				<div id="matneed"></div>
			</div>
		</div>
	</div>
	
	<div id="prodModal"></div>
	<!-- 스크립트 -->
	<script type="text/javascript">
		
		$(function(){
			
			// 모달----------------------------------------
			var dialog = makeModal();
			
			/* 생산계획조회 모달 */
			$('#searchBtn').on('click', function(){
				$('.ui-dialog-title').html('생산계획조회');
				$('#prodModal').load('prodPlanModal.do', function(){
					dialog.dialog({
						buttons: {
							"확인": planView,
							"취소": function(){
								$(this).dialog('close')
							}
						}
					})
					$('.ui-dialog-buttonset').children().attr('class', 'btn btn-secondary')
					dialog.dialog('open')
				})
			})
			function planView(){
				
			}
			
			
			/* 미생산주문 모달 */
			$('#unprodBtn').on('click', function(){
				var startDt = $('#requestDtS').val()
				var endDt = $('#requestDtE').val()
				$.ajax({
					url : 'requestDtSearch',
					data : JSON.stringify({ startDt, endDt })
				}).done(function(){
					$('.ui-dialog-title').html('미생산주문조회');
					$('#prodModal').load('requestModal.do', function(){
						dialog.dialog({
							buttons: {
								"확인": requestAdd,
								"취소": function(){
									$(this).dialog('close')
								}
							}
						})
						$('.ui-dialog-buttonset').children().attr('class', 'btn btn-secondary')
						dialog.dialog('open')
					})
				})
			})
			function requestAdd(){
				
			}
			
			/* 모달틀 */
			function makeModal() {
				var dialog = $("#prodModal").dialog({
					autoOpen : false,
					height : 600,
					width : 700,
					modal : true,
				});
				$('.ui-dialog-titlebar-close').html('X').css('border', 'none')
				return dialog;
			}
		// 모달끝--------------------------------------------
		
		
		})
		
		
		// 달력---------------------------------------------
	
		/* 계획일자 */
		const datepicker1 = new tui.DatePicker('#wrapper', {
			date : new Date(),
			input : {
				element : '#planDt',
				format : 'yyyy-MM-dd'
			},
			language : 'ko'

		});

		/* 미생산 주문조회 달력 */
		var today = new Date();
		const datepicker2 = new tui.DatePicker.createRangePicker({
			startpicker : {
				date : today,
				input : '#requestDtS',
				container : '#requestDtS-wapper'
			},
			endpicker : {
				date : today,
				input : '#requestDtE',
				container : '#requestDtE-wapper'
			},
			selectableRanges : [ [
					today,
					new Date(today.getFullYear() + 1, today.getMonth(), today
							.getDate()) ] ],
			language : 'ko'
		});
		
		// 달력끝------------------------------------------
		
		// 그리드---------------------------------------------

		/* 필요자재 */
		const selectMat = [];

		const matGrid = new tui.Grid({
			el : document.getElementById('matneed'),
			data : selectMat,
			scrollX : false,
			rowHeaders : [ 'rowNum' ],
			columns : [ {
				header : '제품코드',
				align : 'center'
			}, {
				header : '제품명',
				align : 'center'
			}, {
				header : '자재코드',
				align : 'center'
			}, {
				header : '자재명',
				align : 'center'
			}, {
				header : '소요량(개당)',
				align : 'center'
			}, {
				header : '필요량',
				align : 'center'
			}, {
				header : '재고량',
				align : 'center'
			}, {
				header : '부족량',
				align : 'center'
			} ]
		});

		/* 전체제품 */
		const totalPd = [];

		const pdGrid = new tui.Grid({
			el : document.getElementById('total'),
			data : totalPd,
			scrollX : false,
			rowHeaders : [ 'checkbox' ],
			columns : [ {
				header: '제품코드',
				align: 'center'
			}, {
				header : '제품명',
				align : 'center'
			}, {
				header : '규격',
				align : 'center'
			}, {
				header : '의뢰번호',
				align : 'center'
			}, {
				header : '납기일자',
				align : 'center'
			}, {
				header : '주문량',
				align : 'center'
			}, {
				header : '기계획량',
				align : 'center'
			}, {
				header : '미계획량',
				align : 'center'
			}, {
				header : '작업일자',
				align : 'center'
			}, {
				header : '비고',
				align : 'center'
			} ]
		});
		
		// 그리드끝------------------------------------------

		
		// 버튼---------------------------------------------
		
		/* 생산계획 조회 */
		$('#searchBtn').on('click', function(){
			
		})
		
		/* 새자료 */
		$('#resetBtn').on('click', function() {
			fnFormClear();
		})

		function fnFormClear() {
			document.getElementById('dataForm').reset();
			$('#planDt').val('');
			datepicker1.setDate(new Date());
			/* 왜 리셋이 안될까... */
			datepicker2.setStartDate(new Date());
			datepicker2.setEndDate(new Date());
			grid.resetData(gridData);
		}
		
		/* 생산계획 등록 */
		
		/* 생산계획 삭제 */
		
		
		// 버튼끝------------------------------------------
		
	</script>
	</th:block>
</body>

</html>