<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
	<!-- 캘린더 cdn -->
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css">
	<link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
	<script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
	<style>
		a {
		 color: #4e4e4e;
		}
	</style>
</head>
	<th:block layout:fragment="main">
<body class="sb-nav-fixed">
		<div class="container-fluid px-4">
			<h1 class="mt-4">생산일정조회</h1>
			
			<div style="width:95%; margin:20px auto;">
				<div id='calendar'></div>
			</div>
			
			
		</div>
		
<script>
  $.ajax({
        url : "plancal",
        method :"GET",
        dataType: "JSON",
        success : function(result){
				var orderCal = document.getElementById('calendar');
				var calendar = new FullCalendar.Calendar(orderCal, {
					initialView: 'dayGridMonth',
					events: result
				});
				calendar.render();
        } 
    });
</script>
</th:block>
</body>
</html>