<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<!-- 캘린더 cdn -->
<script
	src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css">
<link rel="stylesheet"
	href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
<script
	src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
<style>
a {
	color: #4e4e4e;
}

#modal {
	display: none;
}
/* 토요일 날짜 파란색 */
.fc-day-sat a {
	color: rgb(69, 123, 169);
	text-decoration: none;
}

.fc-day-sun a {
	color: rgb(184, 108, 111);
	text-decoration: none;
}

.nameing {
	float: right;
	font-size: medium;
	font-weight: normal;
	margin-top: 15px;
}
</style>
</head>
<th:block layout:fragment="main">
	<body class="sb-nav-fixed">
		<div class="container-fluid px-4">
			<div class="nameing">
				<a href="/" style="text-decoration-line: none; color: black">홈</a>>생산관리>생산일정조회
			</div>
			<h1 class="mt-4">생산일정조회</h1>

			<div style="width: 95%; margin: 20px auto;">
				<div id='calendar'></div>
			</div>
		</div>
		<div id="modal">
			<div id="alllist" title="상세 정보 " style="padding: 20px;">
				<table class="table table-bordered">
					<tr>
						<th>지시번호</th>
						<td id="pcnum"></td>
					</tr>
					<tr>
						<th>지시명</th>
						<td id="name"></td>
					</tr>
					<tr>
						<th>라인번호</th>
						<td id="line"></td>
					</tr>
					<tr>
						<th>제품명</th>
						<td id="giname"></td>
					</tr>
					<tr>
						<th>지시량</th>
						<td id="pcdam"></td>
					</tr>
					<tr>
						<th>생산시작일</th>
						<td id="pcdsdate"></td>
					</tr>
					<tr>
						<th>생산마감일</th>
						<td id="pcdedate"></td>
					</tr>
					<tr>
						<th>공정상태</th>
						<td id="pcstatus"></td>
					</tr>
					<tr>
						<th>비고</th>
						<td id="pcnote"></td>
					</tr>
				</table>
			</div>
		</div>

		<script>
$(function(){
	/*메이크 모달*/
    function makeModal(e) {
        var dialog = $(e).dialog({
            autoOpen: false,
            height: 600,
            width: 700,
            modal: true,
            buttons: {
                '확인': function () {
                    $(this).dialog('close')
                }
            }
        });
        $('.ui-dialog-titlebar-close').html('X').css('border',
            'none');
        $('.ui-dialog-buttonset').children().attr('class',
            'btn btn-secondary');
        return dialog;
    }
	
	arr = [];
	
	$.ajax({
        url : "plancal",
        method :"GET",
        dataType: "JSON",
        success : function(result){
				var orderCal = document.getElementById('calendar');
				for(data of result){
					var obj={
						title : data.pcnum +' '+ data.title,
						start: moment(data.start).format('YYYY-MM-DD'),
						end : moment(data.end).format('YYYY-MM-DD')	,
						content : data.pcnum
					}
					arr.push(obj);
				}
				
				console.log(arr)
				var calendar = new FullCalendar.Calendar(orderCal, {
					height: '750px', // calendar 높이 설정
					initialView: 'dayGridMonth',
					locale: 'ko',
					eventClick: function(arg){
						var list = makeModal('#alllist')
						$("#alllist").css('display', '');
						list.dialog('open')
						var pcnum = arg.el.fcSeg.eventRange.def.extendedProps.content;
						$.ajax({
							url:'detaillist',
							method : 'POST',
							data:{pcnum},
							success : function(rs){
								$('#pcnum').text(rs[0].pcnum)
								$('#name').text(rs[0].pcname)
								$('#line').text(rs[0].lineid)
								$('#giname').text(rs[0].giname)
								$('#pcdam').text(rs[0].pcdam)
								$('#pcdsdate').text(moment(rs[0].pcdsdate).format('YYYY-MM-DD'))
								$('#pcdedate').text(moment(rs[0].pcdedate).format('YYYY-MM-DD'))
								$('#pcstatus').text(rs[0].pcstatus)
								$('#pcnote').text(rs[0].pcnote)
							}
						})
						
						
					}
				,events: arr,
				eventColor: 'rgb(146, 146, 155)',
				eventTextColor: '#ffffff'
				})
			calendar.render();
        } 
    })
})
  
  
</script>
</th:block>
</body>
</html>