<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layouts/layout}">
<head>
<style>
.tui-datepicker {
	z-index: 99;
}

.grid-option-area {
	-webkit-box-pack: justify;
	justify-content: space-between;
	min-height: 36px;
	margin-bottom: 10px;
}
.ht {
	height: 28px;
}
.mg5 {
	margin-top:5px;
}
 #modal {
	display: none;
}
.cb {
	text-align:center;
	margin-top: 10px;
}
.fw {
	font-weight: 700;
	margin-right: 10px;
}
</style>
</head>
<body class="sb-nav-fixed">
	<th:block layout:fragment="main">
	<div class="container-fluid px-4">
		<h1 class="mt-4">생산계획관리</h1>
		<div class="card mb-2">
			<div class="card-header">
				<div style="display: flex; justify-content: flex-end;">
					<button type="button" id="searchBtn" class="btn btn-secondary"
						style="margin-right: 5px;">조회</button>
					<button type="button" id="resetBtn" class="btn btn-secondary"
						style="margin-right: 5px;">새자료</button>
					<button type="button" id="saveBtn" class="btn btn-secondary"
						style="margin-right: 5px;">저장</button>
					<button type="button" id="removeBtn" class="btn btn-secondary"
						style="margin-right: 5px;">삭제</button>
				</div>
			</div>
		</div>
		<div class="card mb-2">
			<div class="card-body">
				<!-- 입력폼 -->
				<form autocomplete="off" id="dataForm">
					<div class="container-fluid"
						style="display: flex; flex-flow: row wrap; justify-content: space-between;">
						<!-- 계획일자, 생산계획명, 특이사항 -->
						<div class="item col-6">
							<table class="table table-bbs">
								<tbody>
									<tr>
										<th><label style="width: 100px;">계획일자</label></th>
										<td colspan="6">
											<div
												class="tui-datepicker-input tui-datetime-input tui-has-focus">
												<input type="text" class="form-control" id="planDt"
													aria-label="Date-Time" tabindex="1"> <span
													class="tui-ico-date"></span>
											</div>
											<div id="wrapper" style="margin-top: -1px;"></div>
										</td>
									</tr>
									<tr>
										<th>생산계획명</th>
										<td><input type="text" id="planDt" class="form-control ht"
											style="width: 500px;" maxlength="10" tabindex="2"></td>
										<td colspan="5">
									</tr>
									<tr>
										<th>비  고</th>
										<td><input type="text" id="remark" class="form-control ht"
											style="width: 500px;" maxlength="10" tabindex="2"></td>
										<td colspan="3">
									</tr>
								</tbody>
							</table>
						</div>

						<!-- 미생산주문조회 -->
						<div class="item col-5 border"
							style="width: 600px; height: 100px; margin: 10px;">
							<div class="grid-option-area mt-1">
									<ul style="list-style: none;">
										<li>
											<h3 class="subtitle"
												style="margin: 15px 0px 2px; width: 400px; font-size: 16px; font-weight: bold;">미생산
												주문 조회</h3>
										</li>
										<li class="mt-1 grid-option-area"
											style="margin: 10px; padding: 5px 0px 0px 5px;">
											<div>
												<label for="requestStDt" class="mg5">납기일자</label>
												<!-- 시작일 -->
												<div
													class="tui-datepicker-input tui-datetime-input tui-has-focus mg5">
													<input id="requestDtS" type="text" class="form-control"
														aria-label="Date" name="requestDtS"> <span class="tui-ico-date"></span>
													<div id="requestDtS-wapper" style="margin-left: -1px;"></div>
												</div>
	
												<span class="mg5">~</span>
	
												<!-- 종료일 -->
												<div
													class="tui-datepicker-input tui-datetime-input tui-has-focus mg5">
													<input id="requestDtE" type="text" class="form-control"
														aria-label="Date" name="requestDtE"> <span class="tui-ico-date"></span>
													<div id="requestDtE-wapper" style="margin-left: -1px;"></div>
												</div>
												<button type="button" class="btn btn-secondary btn-block" id="unprodBtn">읽기</button>
											</div>
										</li>
									</ul>
							</div>
						</div>
					</div>
				</form>
				<!-- 입력폼 끝  -->
			</div>
		</div>
	</div>

	<!-- 전체 표 -->
	<div class="container-fluid px-4 mb-2">
		<div style="display: flex; justify-content: flex-end;">
			<button type="button" class="btn btn-secondary"
				style="margin-right: 5px;">추가</button>
			<button type="button" class="btn btn-secondary"
				style="margin-right: 5px;">삭제</button>
		</div>
	</div>
	<div class="container-fluid px-4">
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table me-1"></i> 생산제품목록
			</div>
			<div class="card-body">
				<div id="total"></div>
			</div>
		</div>
	</div>

	<!-- 필요자재표  -->
	<div class="container-fluid px-4">
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table me-1"></i> 필요자재체크
			</div>
			<div class="card-body">
				<div id="matneed"></div>
			</div>
		</div>
	</div>
	
	
	
	
	
	
	<!-- 모달 -->
	<div id="modal">
	
		<div id="planModal" style="padding:20px;" title="생산계획조회">
			<!-- 생산계획관리 - 생산계획조회 모달 -->
			<!-- 작성일자 검색 -->
			<form class="container-fluid" id="searchForm" name="searchForm">
				<div class="search-area search-area-border" style="width: 100%;">
					<ul style="list-style: none;">
						<li><label class="fw">계획일자</label> 
						<!-- 시작일 -->
							<div
								class="tui-datepicker-input tui-datetime-input tui-has-focus mg5">
								<input id="pplanDtS" type="text" class="form-control"
									aria-label="Date" name="pplanDtS"> <span
									class="tui-ico-date"></span>
								<div id="pplanDtS-wapper" style="margin-left: -1px;"></div>
							</div> 
							
							<span class="mg5">~</span> 
							
							<!-- 종료일 -->
							<div
								class="tui-datepicker-input tui-datetime-input tui-has-focus mg5">
								<input id="pplanDtE" type="text" class="form-control"
									aria-label="Date" name="pplanDtE"> <span
									class="tui-ico-date"></span>
								<div id="pplanDtE-wapper" style="margin-left: -1px;"></div>
							</div>
							<button type="button" class="ml-1 mw50 btn-sm btn-secondary"
								id="planBtn">검색</button></li>
					</ul>
				</div>
			</form>
			
			<!-- 진행상태 구분 -->
			<div class="container-fluid" style="margin-top: 40px; margin-bottom: 10px;">
				<div>
					<label class="fw">진행상태</label>
					<select style="width:100px; height:28px; display: inline-block;">
						<option value="unorder">미지시</option>
						<option value="ordering">지시진행</option>
					</select>
				</div>
			</div>
			
			<!-- 그리드 -->
	      <div id="planList"></div>
		</div>
		
		<div id="requestModal" style="padding:20px;" title="미생산주문조회">
			<div id="requestList"></div>
		</div>
	
	</div>
	
	
	
	
	
	
	<!-- 스크립트 -->
	<script type="text/javascript">
		
		$(function(){
			
			// 모달----------------------------------------
			var modal1 = makeModal("#planModal")
			var modal2 = makeModal("#requestModal")
			
			
			/* 생산계획조회 모달 */
			$('#searchBtn').on('click', function(){
				$('#planModal').css('display', '')
				modal1.dialog({
					buttons: {
						"확인": planView,
						"취소": function(){
							$(this).dialog('close')
						}
					}
				})
				$('.ui-dialog-buttonset').children().attr('class', 'btn btn-secondary')
				modal1.dialog('open')
				planGrid.refreshLayout();
			})
			function planView() {
				
			}
			
			
			/* 미생산주문 모달 */
			$('#unprodBtn').on('click', function(){
				$('#requestModal').css('display', '')
				modal2.dialog({
					buttons: {
						"확인": requestAdd,
						"취소": function(){
							$(this).dialog('close')
						}
					}
				})
				$('.ui-dialog-buttonset').children().attr('class', 'btn btn-secondary')
				modal2.dialog('open')
				rqGrid.refreshLayout();
				var startDt = $('#requestDtS').val()
				var endDt = $('#requestDtE').val()
				$.ajax({
					url: 'unprodList',
					method: 'POST',
					data : { startDt, endDt },
					success: function(result) {
						rqGrid.resetData(result)
					}
				})
			})
			/* 미생산주문조회 후 생산할 제품 계획에 등록 */
			function requestAdd() {
				const result = rqGrid.getCheckedRows();
				const orderNum = result.map((e)=>{return e.prnum}) // 배열에 반복문값 담아주기
				console.log(orderNum)
				$.ajax({
					url: 'planProduct',
					method: 'POST',
					data: { 'orderNum' : orderNum },
					success: function(rs) {
						pdGrid.resetData(rs)
					}
				})
			}
			
			
			/* 모달틀 */
			function makeModal(e) {
				var dialog = $(e).dialog({
					autoOpen : false,
					height : 600,
					width : 700,
					modal : true,
				});
				$('.ui-dialog-titlebar-close').html('X').css('border', 'none')
				return dialog;
			}
		// 모달끝--------------------------------------------
		
		
		// 그리드---------------------------------------------

		/* 필요자재 */
		const selectMat = [];

		const matGrid = new tui.Grid({
			el : document.getElementById('matneed'),
			data : selectMat,
			scrollX : false,
			rowHeaders : [ 'rowNum' ],
			columns : [ {
				header : '제품코드',
				align : 'center'
			}, {
				header : '제품명',
				align : 'center'
			}, {
				header : '자재코드',
				align : 'center'
			}, {
				header : '자재명',
				align : 'center'
			}, {
				header : '소요량(개당)',
				align : 'center'
			}, {
				header : '필요량',
				align : 'center'
			}, {
				header : '재고량',
				align : 'center'
			}, {
				header : '부족량',
				align : 'center'
			} ]
		});

		/* 전체제품 */
		const totalPd = [];

		const pdGrid = new tui.Grid({
			el : document.getElementById('total'),
			data : totalPd,
			scrollX : false,
			rowHeaders : [ 'checkbox' ],
			columns : [ {
				header: '제품코드',
				name: 'gicode',
				align: 'center'
			}, {
				header : '제품명',
				name: 'giname',
				align : 'center'
			}, {
				header : '규격',
				name: 'giunit',
				align : 'center'
			}, {
				header : '의뢰번호',
				name: 'prnum',
				align : 'center'
			}, {
				header : '납기일자',
				name: 'cnperiod',
				align : 'center'
			}, {
				header : '주문량',
				name: 'cnam',
				align : 'center'
			}, {
				header : '기계획량',
				name: 'ppdam',
				align : 'center',
				editor: 'text'
			}, {
				header : '미계획량',
				name : 'uplam',
				align : 'center',
				editor: 'text'
			}, {
				header : '작업일자',
				name: 'ppddate',
				align : 'center',
				editor: 'text'
			} ]
		});
		
		/* 미생산주문목록 그리드 */
		const orderList = [];
			
		const rqGrid = new tui.Grid({
		      el: document.getElementById('requestList'),
		      data: orderList,
		      rowHeaders : [ 'checkbox' ],
		      columns: [
		        {
		          header: '의뢰번호',
		          name: 'prnum',
		          align : 'center'
		        },
		        {
		          header: '수주번호',
		          name: 'cnnum',
		          align : 'center'
		        },
		        {
		          header: '마감일자',
		          name: 'prclose',
		          align : 'center'
		        },
		        {
		          header: '마감여부',
		          name: 'prstatus',
		          align : 'center'
		        }
		     ]
	    });
		
		/* 생산계획목록 그리드 */
		const planList = [];
			
		const planGrid = new tui.Grid({
		     el: document.getElementById('planList'),
		     data: planList,
		     columns: [
		       {
		         header: '계획일자',
		         align : 'center'
		       },
		       {
		         header: '계획번호',
		         align : 'center'
		       },
		       {
		         header: '계획명',
		         align : 'center'
		       },
		       {
		         header: '비고',
		         align : 'center'
		       }
		     ]
	    });
		
		// 그리드끝------------------------------------------
		
		})
		
		
		// 달력---------------------------------------------
	
		/* 계획일자 */
		const datepicker1 = new tui.DatePicker('#wrapper', {
			date : new Date(),
			input : {
				element : '#planDt',
				format : 'yyyy-MM-dd'
			},
			language : 'ko'

		});

		/* 미생산 주문조회 모달 달력 */
		var today = new Date();
		var range = new Date(today.getFullYear() + 1, today.getMonth(),
								today.getDate());
		const datepicker2 = new tui.DatePicker.createRangePicker({
			startpicker : {
				date : today,
				input : '#requestDtS',
				container : '#requestDtS-wapper'
			},
			endpicker : {
				date : today,
				input : '#requestDtE',
				container : '#requestDtE-wapper'
			},
			selectableRanges : [ [
					today,
					range ] ],
			language : 'ko'
		});
		
		/* 생산계획 작성일자 모달 달력 */
		var picker = new tui.DatePicker.createRangePicker({
			startpicker : {
				date : today,
				input : '#pplanDtS',
				container : '#pplanDtS-wapper'
			},
			endpicker : {
				date : today,
				input : '#pplanDtE',
				container : '#pplanDtE-wapper'
			},
			selectableRanges : [ [
					today,
					range ] ],
			language : 'ko'
		});
		
		// 달력끝------------------------------------------
		
		

		
		// 버튼 함수---------------------------------------------
		
		/* 새자료 */
		$('#resetBtn').on('click', function() {
			fnFormClear();
		})

		function fnFormClear() {
			document.getElementById('dataForm').reset();
			$('#planDt').val('');
			datepicker1.setDate(new Date());
			datepicker2.setStartDate(new Date());
			datepicker2.setEndDate(new Date());
			grid.resetData(gridData);
		}
		
		/* 생산계획 등록 */
		
		/* 생산계획 삭제 */
		
		
		
		// 버튼끝------------------------------------------
		
	</script>
	</th:block>
</body>

</html>