<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- 제이쿼리 -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
	crossorigin="anonymous">
	
</script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js">
	
</script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
	crossorigin="anonymous">
	
</script>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

<!-- 부트스트랩 css -->
<link href="/css/styles.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
	crossorigin="anonymous">
	
</script>

<!-- 데이터테이블 -->
<link
	href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
	rel="stylesheet" />
<link href="/assets/demo/datatables-demo.js" rel="stylesheet" />

<!-- 토스트그리드 -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js">
	
</script>

<!-- 토스트데이트피커 -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js">
	
</script>

<title>Carboni</title>
</head>
<body class="sb-nav-fixed">
	<!-- 헤더 -->
	<th:block th:replace="layouts/header::hd"></th:block>
	<div id="layoutSidenav">
		<!-- 메뉴 -->
		<th:block th:replace="layouts/menu::mn"></th:block>
		<div id="layoutSidenav_content">
			<main>
				<!-- 메인 -->
				<th:block layout:fragment="main"></th:block>
				<hr>
			</main>
		</div>
	</div>

	<!-- 스크립트 -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous">
		
	</script>
	<script src="/js/scripts.js">
		
	</script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
		crossorigin="anonymous">
		
	</script>
	<script src="/assets/demo/chart-area-demo.js">
		
	</script>
	<script src="/assets/demo/chart-bar-demo.js">
		
	</script>
	<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
		crossorigin="anonymous">
		
	</script>
	<script src="/js/datatables-simple-demo.js">
		
	</script>
</body>
</html>
