<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}">
<th:block layout:fragment="main">
<head>
  <meta charset="UTF-8">
</head>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<style>
  h1 {
    margin: 20px 10px 10px 20px;
  }

  #myf {
    margin: 10px;
    width: 600px;
    clear: both;
  }

  #myf>label {
    width: 100px;
    font-size: 80%;
    text-align: center;
  }
  
  #myf>input{
    margin: 2px 0 0 0;
  }
  
  #menu {
    float: right;
    margin-right: 20px;
    text-align: right;
  }
  #menu > a {
    text-decoration: none;
    color: black;
  }
  
</style>

<body>

  <div id="container">

    <h1>거래처정보관리</h1>
    <div id="menu">
      <a href="/"><i class="bi bi-house-door-fill"></i></a> > 기준정보관리 > <b>거래처정보관리</b>
    </div>
    <form name="subform" id="subform">
    	<div id="btns" class="card-header">
      		<button type="button" class="btn btn-secondary" id="newthat">새자료</button>
      		<button type="button" class="btn btn-secondary" id="ex">엑셀</button>
      		<input sec:authorize="hasRole('ROLE_a')" type="button" class="btn btn-secondary" value="저장" onclick="check()">
      		<input sec:authorize="hasRole('ROLE_a')" type="button" class="btn btn-secondary" value="삭제" onclick="del()">
    	</div>
    	<div id="myf">
      		<label for="cscode">거래처코드</label> <input type="text" id="cscode" name="cscode" readonly>
      		<label for="csname">거래처명</label> <input type="text" id="csname" name="csname">
      		<label for="csnum">사업자등록번호</label> <input type="text" id="csnum" name="csnum">
      		<label for="cstel">전화번호</label> <input type="text" id="cstel" name="cstel">
      		<label for="csnote">비고</label> <input type="text" id="csnote" name="csnote">
      		<label for="csgb">거래처구분</label> <input type="text" id="csgb" name="csgb">
    	</div>
    </form>

    <div class="card mb-4">
      <div class="card-body">
        <table id="datatablesSimple">
          <thead>
            <tr>
              <th><input type="radio" name="cost"></th>
              <th>거래처코드</th>
              <th>거래처명</th>
              <th>사업자번호</th>
              <th>전화번호</th>
              <th>거래처구분</th>
              <th>비고</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="c : ${costList}">
            	<td><input type="radio" name="cost"></td>
            	<td th:text="${c.cscode}"></td>
            	<td th:text="${c.csname}"></td>
            	<td th:text="${c.csnum}"></td>
            	<td th:text="${c.cstel}"></td>
            	<td th:text="${c.csgb}"></td>
            	<td th:text="${c.csnote}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</body>
<script>

	// 새자료
	$('#newthat').click(function () {
      $('#myf>input').val('');
    })
    
    // radio입력
    $(document).on('click', 'input[name=cost]', function(){
			$(cscode).val($('input[name=cost]:checked').parent().parents().children().eq(1).text())
			$(csname).val($('input[name=cost]:checked').parent().parents().children().eq(2).text())
			$(csnum).val($('input[name=cost]:checked').parent().parents().children().eq(3).text())
			$(cstel).val($('input[name=cost]:checked').parent().parents().children().eq(4).text())
			$(csgb).val($('input[name=cost]:checked').parent().parents().children().eq(5).text())
			$(csnote).val($('input[name=cost]:checked').parent().parents().children().eq(6).text())
			
		});
	
	
	// 입력수정
    function check(){
    	if($(csname).val()=='' || $(csnum).val()=='' || $(cstel).val()=='' || $(csgb).val() ==''){
    		swal('항목을 입력하십시오', '거래처명, 사업자등록번호, 전화번호, 거래처구분은 필수입력 항목입니다.', 'warning');
    	} else{
			if ($(cscode).val() == ''){
				document.subform.action="costomerinsert.do"
				document.subform.submit();
			}
			else{
				document.subform.action="costomerupdate.do"
				document.subform.submit();
			}
    	}
	}
	
	// 삭제
	function del(){
		if($(cscode).val()=='') {
			swal('코드를 입력하십시오', '코드를 선택하여 삭제하여 주십시오.', 'warning');
		} else{
			document.subform.action="costomerdelete.do"
			document.subform.submit();
		}
	}
	
	//엑셀
	$('#ex').on('click', function(){
		location.href="costEx"
	});
	
</script>
</th:block>
</html>